body { min-height: 100%; display: flex !important; }

*, ::after, ::before { -webkit-box-sizing: border-box; }

body {
        padding: 0;
        font-family: Arial,serif;
        background-color: #eee;
        height: auto;
        min-height: 100%;
        line-height: 1.42857143;
     }

body {
        margin: 0;
        background-color: #eee;
        font-family: Arial,serif;
        font-size: 4.5 rem;
        font-weight: 300;
        color: #404040;
        text-align: left;
        display: block;
     }

.be-wrapper { min-height: 100%; padding-top: 61px;}

div {display: block;}

.flex-column, body, .card--summary__theme-action, .hero, .profile__hero {
                                                                            -webkit-box-orient: vertical !important;
                                                                            -webkit-box-direction: normal !important;
                                                                            flex-direction: column !important;
                                                                        }

.d-flex, .nav-preview .nav-link, body, .list-dotted, .card--summary__item, .card--summary__theme-action,
.card--summary__theme-description, .card--summary__footer, .card--table .card__item, .theme-card--xl
.theme-card__footer, .theme-cards__heading, .rating, .hero, .profile__hero, .profile-author,
.feature-screenshot__overlay, .theme-description__list__item, .theme-review__heading, .theme-purchases__item,
.upload-image__cover__overlay, .stat__title { display: flex !important; }

.main {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        position: relative;
     }

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section { display: block; }

.be-top-header{
                padding: 0;
                margin: 0;
                margin-bottom:0;
                background-color: #007faa;
                border: 0;
                border-bottom-width: 1px;
                border-bottom-style: solid;
                border-bottom-color: #007faa;
              }
.be-top-header {padding-bottom: 0.1rem; line-height: 1em;}

.fixed-top {position: fixed; top: 0; right: 0; left: 0; z-index: 1030; height: 85px;}

.be-fixed-sidebar .be-left-sidebar {height: 100%; margin-top: 61px; padding-bottom: 61px; position: fixed; top: 0; bottom: 0; z-index: 1029;}

.be-left-sidebar {background-color: #f5f5f5; width: 230px; left: 0; position: absolute; border-right: 1px solid #e3e3e3;}

.be-left-sidebar .left-sidebar-wrapper {display: table; table-layout: fixed; width: 100%; height: 100%;}

.be-left-sidebar .left-sidebar-spacer {height: 100%;}

.be-left-sidebar .left-sidebar-content {top: 0; bottom: 0; left: 0; right: 0;}

.be-left-sidebar .sidebar-elements {padding-left: 20px;}

.be-left-sidebar .widget-support .support-title { color: #7b7b7b; font-size: 13px; font-weight:600; line-height: 30px; padding-bottom: 20px;}

.be-left-sidebar .widget-support .icon-settings {padding: 0 15px; float: right;}

.be-left-sidebar .sidebar-elements .divider {color: #007faa; line-height: 30px; font-weight: 600; text-transform: uppercase; font-size: 18px; margin-top:50px}

.be-left-sidebar .sidebar-elements>li {list-style: none;  }

.be-left-sidebar .sidebar-elements>li>a {
                                            display: block;
                                            padding: 0 20px;
                                            color: #696969;
                                            font-size: 17px;
                                            line-height: 40px;
                                            text-overflow: ellipsis;
                                            overflow: hidden;
                                            white-space: nowrap;
                                            text-decoration: none;
                                        }

.be-left-sidebar .sidebar-elements li.parent>a:before {
                                                        content: '\203A';
                                                        float: right;
                                                        font-family: "Material Icons";
                                                        font-size: 3rem;
                                                        color: #b0b0b0;
                                                      }

.be-left-sidebar .sidebar-elements>li ul {

                                            background-color: pink;
                                            padding-top: 10px;
                                            padding-right: 0 px;
                                            padding-bottom: 10px;
                                            padding-left: 10px;
                                            list-style: none;
                                            width: 200px;
                                         }

.be-content {position: relative; left: 0; margin-left: 230px; min-height: 100%;}

.main-content {padding-top: 50px;}

.main-content .dashboard-title {border-bottom: 1.5px solid #d9d9d9; padding-bottom: 15px; margin-top: 5px;}

.container-fluid {
                    width: 100%;
                    padding-right: 15px;
                    padding-left: 15px;
                    margin-right: auto;
                    margin-left: auto;
                    margin-top: 5px;
                 }

.row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;

      }

@media (min-width: 1200px)
.col-xl-3 {
            -webkit-box-flex: 0;
            flex: 0 0 25%;
            max-width: 25%;
         }

@media (min-width: 768px)
.col-md-12 {
            -webkit-box-flex: 0;
            flex: 0 0 100%;
            max-width: 100%;
           }

@media (min-width: 992px)
.col-lg-6 {
            -webkit-box-flex: 0;
            flex: 0 0 50%;
            max-width: 50%;
          }

@media (min-width: 992px)
.col-lg-4 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
          }

@media (min-width: 992px)
.col-lg-6 {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
            flex: 0 0 50%;
            max-width: 50%;
          }

@media (min-width: 768px)
.col-md-12 {
            -webkit-box-flex: 0;
            flex: 0 0 100%;
            max-width: 100%;
          }

.mb-4, .my-4 { margin-bottom: 1.539rem!important; }

.widget.widget-fullwidth { padding: 0; }

.widget.widget-fullwidth  {
                            padding: 20px 20px 10px;
                            margin-bottom: 20px;
                            background-color: #fff;
                           }

element.style {
                height: 265px;
                position: relative;
                overflow: hidden;
              }

.widget.widget-fullwidth { padding: 0; padding-top: 15px; padding-left: 15px; padding-right: 15px;}

.be-loading { position: relative; }

.widget {
          background-color: #fff;
          margin-bottom: 25px;

          border-radius: 15px;
        }

.widget-head-overview {
                        padding: 20px 20px 10px;
                        margin-bottom: 0;
                        background-color: rgb(152, 215, 235);
                        font-size: 20px;
                        color: #fff;
                      }

.widget-head {

                background-color: #fff;
                color: #fff;
              }

.widget-chart-container { position: relative; }

.table-responsive {
                    border: 0;
                    margin-bottom: 0;
                  }

.card-table table { margin-bottom: 0; }

#main-table-positions-performance {padding-left: 60px;}
.main-table-positions-performance-charts {margin-top: 70px; padding-left: 20px; }

.table0 {
            width: 100%;
            color: #404040;
            background-color: #fff;
         }

.table0  {
            border-collapse: collapse;
            text-align:center;
            border-top: none;
          }

.table1 {
            width: 15%;
            margin-left: 65px;
            color: #404040;
            background-color: #fff;
            padding-bottom: 40px;
        }

.table1 {
            border-collapse: collapse;
            text-align:center;
            border-top: none;
        }

.table2 {
            width: 50%;
            margin-bottom: 1rem;
            margin-left: 80px;
            color: #404040;
            background-color: #fff;
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
        }

.table2   {
            border-collapse: collapse;
            text-align:center;
          }

.table3 {
            width: 100%;
            margin-bottom: 1rem;
            color: #404040;
            background-color: #fff;
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
        }

.table3   {
            border-collapse: collapse;
            text-align:center;
          }

.table4 {
            margin-left: 20px;
            color: #404040;
            background-color: #fff;
            border-top: 1px solid #eee;
            border-left: 1px solid #eee;
            border-right: 1px solid #eee;
            border-bottom: 1px solid #eee;
            background-color: #fff;
        }

.table4   {
            border-collapse: collapse;
            text-align:center;
          }

 .table5 {
            color: #404040;
            background-color: #fff;
            border-top: 1px solid #eee;
            border-left: 1px solid #eee;
            border-right: 1px solid #eee;
            border-bottom: 1px solid #eee;
            color: #404040;
        }

.table5  {
            border-collapse: collapse;
            text-align:center;
          }

          }
.table {
        width: 100%;
        margin-bottom: 1rem;
        color: #404040;
        background-color: #fff;
}

table {
        border-collapse: collapse;
        text-align:center;
      }

.table1-borderless > tbody > tr > td {font-size: 12px; font-family: Arial, serif; padding-bottom:2px; }

.table2-borderless > tbody > tr > td,
.table2-borderless > thead > tr > td { font-size: 12px; font-family: Arial, serif;
                                       border-right: 1px solid #eee;
                                       border-left: 1px solid #eee;
                                       padding-right: 10px; padding-left: 10px; padding-bottom: 28px;
                                      }

.table3-borderless > tbody > tr > td,
.table3-borderless > thead > tr > td { font-size: 12px; font-family: Arial, serif; border-right: 1px solid #eee;
                                        border-left: 1px solid #eee;
                                      }

.table4-borderless > tbody > tr > td,
.table4-borderless > tbody > tr > th,
.table4-borderless > tfoot > tr > td,
.table4-borderless > tfoot > tr > th,
.table4-borderless > thead > tr > td,
.table4-borderless > thead > tr > th { font-size: 11px; font-family: Arial, serif; border-right: 1px solid #eee;
                                        padding-right: 16px; padding-bottom:18px; padding-left: 17px; }

.table5-borderless > tbody > tr > td,
.table5-borderless > tbody > tr > th,
.table5-borderless > tfoot > tr > td,
.table5-borderless > tfoot > tr > th,
.table5-borderless > thead > tr > td,
.table5-borderless > thead > tr > th { font-size: 11px; font-family: Arial, serif; padding-bottom: 10px; padding-left: 20px; padding-right: 20px; }

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
border: none;
}

.thead-color {background-color: rgb(128, 128, 128);}
.thead-title {color: #fff; font-size: 20px;}
.thead-title1, .thead-title2 {color: #fff; font-size: 12px;}


#dropdown-toggle, #dropdown-toggle1{background-color:#fff; padding: 16px; font-size: 16px; border: none; border-color: none; width: 50px; height: 50px;}
#dropdown-toggle0 {background-color:#fff; padding-top: 1px; padding-right: 2px; font-size: 16px; border: none; border-color: none; width: 50px; height: 50px;}

#dropdown-toggle, #dropdown-toggle1:hover, #dropdown-toggle, #dropdown-toggle1:active,
#dropdown-toggle, #dropdown-toggle1:visited, #dropdown-toggle, #dropdown-toggle1:focus,
#dropdown-toggle, #dropdown-toggle1:active:focus
{
background-color:#fff!important ; border-color:#fff ; color:#fff;
}
.dropdown{
position: relative;
display: inline-block;
float: right;
padding-right: 10px;
}

.dropdown-menu {
display: none;
position: absolute;
background-color: #fff;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
text-align:center;

}

.dropdown-menu a {
color: black;
text-decoration: none;
display: block;
}
.dropdown-menu a:hover{

color:black !important;
text-decoration: none;
background-color: #ddd;}

.dropdown: hover .dropdown-item {display: block;}
.dropdown: hover .btn {background-color: #3e8e41;}

#selectionStartDateChart, #selectionEndDateChart {font-size:10px; height: 25px; padding-top: 5px; }

#inputs-submit-ok-row {padding-bottom: 20px; }
#selectInputToExport {background-color: #eee; border-color: #696969; color: #696969; height: 35px; width: 150px; margin-left: 16px; font-size: 14.5px;}
#selectInputToOkSubmit {background-color: #eee; border-color: #696969; color: #696969; width: 35px; font-size: 9px; padding-top: 8px; padding-left: 10px; padding-bottom: 8px;}
#selectInputToOkSubmit {height: 35px; }
#inputs-row {padding-right: 5px; }


/* Side Bar */
#versions-submit-ok-row {padding-bottom: 20px; }
#selectVersionsToExport {background-color: #fff; border-color: #B0B0B0; color:#B0B0B0; height: 35px; width: 150px; margin-left: 16px; font-size: 14.5px;}
#selectVersionToOkSubmit {background-color: #fff; border-color: #B0B0B0; color:#B0B0B0; width: 35px; font-size: 9px; padding-top: 8px; padding-left: 10px; padding-bottom: 8px;}
#selectVersionToOkSubmit {height: 35px; }
#versions-row {padding-right: 5px; margin-top: 5px; }
#versions-row1  {padding-right: 5px; margin-top: 4px; }
#label_text {color: #007faa; font-size: 18px; }
#selectionDateToExport {margin-bottom: 20px; width:190px;  }
.support{color: pink;}
.icon-settings {padding-left: 20px; }
.message-dates-sidebar {color: #800000; font-size: 12px; }
.message-dates-charts {color: #800000; font-size: 12px;}


#selectionDateToExport {border-color:#B0B0B0; color:#B0B0B0; }


.dashboard-title{ padding-bottom: 10px; border-bottom: 1px solid #007faa; }


#leverage-submit-ok-row {padding-bottom: 20px; }
#selectLeverageToExport {background-color: #eee; border-color: #696969; color: #696969; height: 35px; width: 150px; margin-left: 16px; font-size: 14.5px;}
#selectLeverageToOkSubmit {background-color: #eee; border-color: #696969; color: #696969; width: 35px; font-size: 9px; padding-top: 8px; padding-left: 10px; padding-bottom: 8px;}
#selectLeverageToOkSubmit {height: 35px; }






#selectInputToExportSubmit {background-color: #007faa; border-color:#007faa; color:#fff; height: 35px; font-size: 15px; padding-top:5px; margin-bottom: 60px; }
#titleInputToExport {color: #696969; font-size: 12px;}

#selectionStartDateToExport, #selectionEndDateToExport {background-color: #eee; border-color: #696969; color: #696969; }{background-color: #fff; border-color: #696969; color: #696969; width: 15px; height:25px; font-size: 9px; padding-top: 5px; padding-left: 5px; padding-bottom: 8px;}
#selectInputDatesChartSubmit, #selectInputDatesChartSubmit1
#selectInputDatesChartSubmit7 {background-color: #fff; border-color: #696969; color: #696969; width: 15px; height:25px; font-size: 9px; padding-top: 5px; padding-left: 5px; padding-bottom: 8px;}
#selectionStartDateChart, #selectionEndDateChart {background-color: #fff; border-color: #696969; color: #696969; }

#footer-dashboard-title {font-size: 12px;}

#icon-lgim {padding-left: 25px; padding-top: 5px; }



.overview-span { color: #007faa; }

#selectDownloadDataChart {padding-left: 10px; padding-top: 1px; background-color: #fff;  width: 35px; height: 50px; border: none; }
#signal-off-title, #signal-off-date {padding-top: 10px; padding-bottom: 10px; }

#main-table-positions-performance { padding-right: 15px;}

#main-table-positions-performance-widget { height: 850px; }

#table-sum-positions-performance-row {padding-bottom: 5px; }






/* footer */
.footer { background-color: #eee; bottom:0; position:fixed; width:100%; }
#container-footer{ background-color: #eee; padding-left: 210px;  }
.text-muted {font-size: 12px; }