/* Home Page Layout */

/* section */
#section-1 {padding-bottom: 100px; padding-top: 138px; }

#container1 {padding-bottom: 100px; }


/* text-titles */
.link-model {color: #333;}

.link-model:visited {color: #333; text-decoration: none; outline: none;}

.link-model:hover {color: #333;}

.link-model:active {color: #333; text-decoration: none; outline: none;}

.link-model:focus {color: #333; text-decoration: none; outline: none;}

.text-lg-left {text-align: left!important;}

.text-secondary {color: #656e79!important;}

p {display: block; margin-block-start: 1em; margin-block-end: 1em; margin-inline-start: 0px;
   margin-inline-end: 0px; }

/* container */
#container1 {padding-bottom: 100px; }

.display-4 {font-size: 2.75rem;}
.display-3 {font-size: 5rem;}
@media (min-width: 992px)


/* footer */
.footer { background-color: #fff; bottom:0; position:fixed; width:100%; }

#row1 {padding-bottom: 250px; }

.text-muted {font-size: 12px; }