/* Times Page Layout */

/* body */
body {
        min-height: 100%;
        display: flex !important;
     }

body {
        padding: 0;
        background-color: #fff;
        height: auto;
        min-height: 100%;
        line-height: 1.42857143;
     }

body {
        display: block;
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        flex-direction: column !important;
     }

/* main */
.main {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        position: relative;
      }

.main-content {padding-top: 140px; }

.container-fluid {
                    width: 100%;
                    padding-right: 15px;
                    padding-left: 15px;
                    margin-right: auto;
                    margin-left: auto;
                    margin-top: 1px;
                 }

/* row and columns */
.row {
        display: flex;
        margin-right: -15px;
        margin-left: -15px;
        padding-bottom: 20px;
     }

#row-inputs-save {padding-bottom: 50px; }

/* widgets */
.widget.widget-fullwidth  {
                            padding-top: 10px;
                            background-color: #EBF4FA;
                            height:400px;
                            width: 380px;
                          }

.widget.widget-fullwidth-last-run  {
                            padding-top: 5px;
                            background-color: #EBF4FA;
                            height:45px;
                            width: 300px;
                          }
.widget-head {
                padding: 20px 20px 10px;
                margin-bottom: 0;
             }

.be-loading { position: relative; }

.widget {
            background-color: #fff;
            border-radius: 15px;
        }

.widget-container { position: relative; }

/* buttons */
#btn-group-versions, #btn-group-submit-versions {width: 190px; }

.btn-primary {background-color:#007faa; border-color:#007faa; color:#fff; }

.btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus, .btn-primary:active:focus
{
background-color:#869ab8!important ; border-color:#869ab8 ; color:#fff;
}

.btn {font-size: .875rem; letter-spacing: 1px; text-transform: uppercase;}

.btn, .btn-lg{ padding: 10px 16px; font-size:12px; line-height:1.3333; height: 35px; }

.btn-primary {color: #fff; background-color: #007faa; border-color: #007faa; box-shadow: 0 7px 16px 0 rgba(0,0,0,.2); }

.btn-dashboard {padding: 10px 16px; font-size:12px; line-height:1.3333; height: 35px; width: 300px; }

.btn-group {padding-bottom: 15px; }

#button-submit2, #button-submit3 {padding-top: 20px; }

#selectInputDatesChartSubmit1, #selectVersionId {margin-bottom: 20px; }

#btn-group-inputs-model-leverage{text-align: center; color: #D3D3D3; padding-left: 40px; }

.dashboard-btn {padding-bottom: 30px; width: 300px; }


/* dropdown boxes */
.dropdown-menu, .dropdown-item { color: black; text-align: center; }

/* text-titles */
.overview-span { color: #007faa; }

#text-field-path, #text-field-name-file {padding-top: 20px; }

#icon-model-page {padding-bottom: 12px;}

.run-date-text {font-size: 15px; }

.last-run-text, .run-date-text {display: inline; }

.title-inputs {color: black; padding-bottom: 20px; padding-top: 10px; }

.title-assets {color: black; padding-top: 10px; }

#text-field-path { width: 190px; }

#text-field-name-file { width: 130px; }

/* footer */
.footer { background-color: #fff; bottom:0; position:fixed; width:100%; }

#row-2 { padding-bottom: 370px;}

.text-muted {font-size: 12px; }


/* ----------------------------- */

/* Times Page New Version Layout */

/* row */
#row-assetsInputs {
                    padding-top: 10px;
                    margin-right: -15px;
                    margin-left: -15px;
                  }

/* widgets */
.widget.widget-fullwidth-inputs {
                                    background-color: #EBF4FA;
                                    height: 530px;
                                }

.widget.widget-fullwidth-save{
                                background-color: #F5F5F5;
                                height: 200px;
                                width: 450px;
                                }

.widget-fullwidth-assetsInputs{
                                 background-color: #F5F5F5;
                                 height: 530px;
                              }

#SelectPathSubmit3 {padding-top: 20px; }

/*buttons */
#dashboard-btn {margin-top: 55px; }
#btn-group-inputs-model{text-align: center; color: #D3D3D3; }
#btn-group-inputs-model-leverage {padding-left: 85px; }
#btn-group-inputs-model-frequency {text-align: center; color: #D3D3D3; padding-left: 65px; }
#btn-group-inputs-model-week {text-align: center; color: #D3D3D3; padding-left: 65px; }
#RunTheModelSubmit2{margin-top: 10px; }
#text-field-name-file{padding-bottom: 5px; }
#check-box-save-excel{padding-bottom: 5px; }
#check-box-save-db {padding-left: 46.5px; }
#btn-group-signals{margin-left: 20px; }
#SelectSaveSubmit4 {margin-bottom: 20px; }
/* text-title */
#label_text{color:#007faa;}
#form-control-path-save {color: #808080}

/* ----------------------------- */

/* Times Page AG GRID */

/* Assets Inputs Table */

#onAddRow, #onRemoveSelected, #clearData {margin-top: 12px;  }
.ag-header-cell-label {
   justify-content: center;
   color: #007faa;
}




