{% extends 'bootstrap/base.html' %}

{% block navbar %}
    <style type="text/css">
        body{font-size: 4.5 rem; font-weight:300; font-family: Merriweather,serif;}
        .navbar{margin-bottom:50px; background-color:#007faa; border-color:#007faa;}
        .navbar-inverse .navbar-brand{color:#fff}
        .navbar-inverse .navbar-toggle collapsed .navbar-right{float:right;}
        .navbar {padding-top: 0.1rem; padding-bottom: 0.1rem; line-height: 1em;}
        #navbar1 .navbar-nav .nav-link{color:#fff;background-color:#007faa; font-weight: bold; font-size: 1.25em}
        #navbar1 .navbar-nav .nav-link {display:block; padding:14px 16px; text-decoration:none; border-bottom:3px solid transparent;}
        #navbar1 .navbar-nav a.nav-link:hover{color:#869ab8; font-weight:bold; border-bottom:3px solid #fff;}
        <!--#navbar1 .logo .navbar-left img, #navbar1 .logo .navbar-left img svg {width="62";height="auto"}-->
        <!--img{max-width:100%;}-->
    </style>

    <body class="home-page">
    <!-- Navbar
         ===================================== !-->
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation" id="navbar1">
                <div class="container-fluid">
                    <div class="navbar-header" style="padding-left: 15px">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                    </button>
                    </div>
                    <div class="collapse navbar-collapse pull-left">
                        <a href="{{ url_for('home') }}">
                            <img width="auto" height="auto"  alt="Legal and General" src="https://www.legalandgeneral.com/web_resources/landscape/images/landg-logo.svg">
                        </a>
                    </div>
                    <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="nav-link active"><a class="nav-link" href="{{ url_for('home') }}">Home<span class="sr-only">(current)</span></a></li>
                            <!-- User is log-in -->
                            {% if g.user.is_authenticated %}
                                <li class="nav-link"><a class="nav-link" href="{{ url_for('protected_models') }}">Models</a></li>
                                <li class="nav-link"><a class="nav-link" href="#">Models Consolidation</a></li>
                                <li class="nav-link"><a class="nav-link" href="{{ url_for('logout') }}">LogOut</a></li>
                            {% endif %}
                            <!-- User is log-off -->
                            {% if not g.user.is_authenticated %}
                                <li class="nav-link"><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>

    </body>
    {% endblock %}

    <body class="text-center">
        {% block content %}
            <style type="text/css">
                 body{font-size: 4.5 rem; font-weight:300; font-family: Merriweather,serif;}
                .text p {text-align: center; }

                .btn-primary {background-color:#007faa; border-color:#007faa; color:#fff}
                .btn-pill {border-radius: 10rem;}
                .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus, .btn-primary:active:focus
                {
                    background-color:#869ab8!important ; border-color:#869ab8 ; color:#fff;
                }
                .btn {font-size: .875rem; letter-spacing: 1px; text-transform: uppercase;}

                .btn, .btn-lg{ padding: 10px 16px; font-size:18px; line-height:1.3333}

                .btn-primary {color: #fff; background-color: #007faa; border-color: #007faa;
                              box-shadow: 0 7px 16px 0 rgba(0,0,0,.2);}

                .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited, .btn-secondary:focus, .btn-secondary:active:focus
                {
                    background-color:#869ab8!important ; border-color:#869ab8 ; color:#fff;
                }
                .btn-secondary {color: #fff; background-color: #007faa; border-color: #007faa;
                              box-shadow: 0 7px 16px 0 rgba(0,0,0,.2);}

            </style>

            <div class="main-login-wtf">
               {% block mainloginwtf%} {% endblock %}
            </div>

            <div class="main-home">
                {% block mainhome %} {% endblock %}
            </div>

            <div class="main-models">
                {% block selectModels %} {% endblock %}
            </div>

            <div class="main-models-display">
                {% block timesModel %} {% endblock %}
            </div>

            <div class="main-charts-display">
                {% block charts %} {% endblock %}
            </div>
        {% endblock%}
    </body>




