{% extends "basePage.html" %}

{% block mainhome %}
    <!-- Style of the Home Page -->
    <style type="text/css">
            .text-database { color: #007faa; }
            .link-model {color: #333;}
            .link-model:visited {color: #333; text-decoration: none; outline: none;}
            .link-model:hover {color: #333;}
            .link-model:active {color: #333; text-decoration: none; outline: none;}
            .link-model:focus {color: #333; text-decoration: none; outline: none;}
    </style>

    <!-- Body of the Home Page -->
    <body data-aos-easing="ease-out-quad" data-aos-duration="700" data-aos-delay="0">

    <!--#region Main Home Text  -->
        <!-- ASSET ALLOCATION HOME PAGE
        ================================================== -->
        <section class="pt-4 pt-md-11">
          <div class="container">
            <div class="row align-items-center" id="items-center">
                <div class="col-12 col-md-8 col-lg-8 order-md-1 aos-init aos-animate" data-aos="fade-up" id="text-home">
                    <!-- Heading -->
                    <h1 class="display-3 text-center text-md-left">
                        Asset Allocation Models <span class="text-database">Database</span>.
                    </h1>
                    <!-- Text -->
                    <p class="lead text-center text-md-left text-muted mb-6 mb-lg-8">
                        Build a beautiful, modern website with flexible Bootstrap components built from scratch.
                    </p>
                    <!-- Modal Learn More -->
                    <div class="text-center text-md-left">
                        <button type="button" class="btn btn-primary btn-lg" role="button" data-toggle="modal" data-target="#exampleModalLong">
                            Learn More <i class="fe fe-arrow-right d-none d-md-inline ml-3"></i>
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Learn More about the Database</h5>
                              </div>
                              <div class="modal-body">
                                       <p>
                                           Cras mattis consectetur purus sit amet fermentum.Cras justo<br>
                                           odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus,<br>
                                           porta ac consectetur ac, vestibulum at eros.
                                       </p>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-4 order-md-1">
                    <!-- Image of LGIM -->
                    <img width="400" height="auto" src="\static\world.png" class="img-fluid mw-md-150 mw-lg-100 mb-6 mb-md-0 aos-init aos-animate" alt="..." data-aos="fade-up" data-aos-delay="100">
                </div>
            </div>
          </div>    <!-- / .container -->
        </section>  <!-- / .section -->
<!--#endregion -->


    <!--#region Display all the available models  -->

        <br>
        <br>
        <section class="py-8 py-md-11 border-bottom">
          <div class="container">
            <div class="row">

                <!--#region Times Model -->
              <div class="col-12 col-md-4 aos-init aos-animate" data-aos="fade-up">
                    <!-- Icon -->
                    {% include 'modelsIcons.html' %}
                    <!-- Heading -->
                    <h3>
                        <a class="link-model" href="#" data-toggle="modal" data-target="#TimesModal">Times Model</a>
                    </h3>
                    <!-- Modal Times Model -->
                    {% include 'timesModal.html' %}
                    <!-- Text -->
                    <p class="text-muted mb-6 mb-md-0">
                        Short description of the Times model.
                    </p>
              </div>
                <!--#endregion -->

                <!--#region Maven Model -->
              <div class="col-12 col-md-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="50">
                    <!-- Icon -->
                    {% include 'modelsIcons.html' %}
                    <!-- Heading -->
                    <h3>
                        <a class="link-model" href="#" data-toggle="modal" data-target="#MavenModal">Maven Model</a>
                    </h3>
                      <!-- Modal Maven Model -->
                    {% include 'mavenModal.html' %}
                <!-- Text -->
                <p class="text-muted mb-6 mb-md-0">
                  Short description of the Maven model.
                </p>
              </div>
                <!--#endregion -->

                <!--#region Effect Model -->

              <div class="col-12 col-md-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                    <!-- Icon -->
                    {% include 'modelsIcons.html' %}
                    <!-- Heading -->
                    <h3>
                        <a class="link-model" href="#" data-toggle="modal" data-target="#EffectModal">Effect Model</a>
                    </h3>
                    <!-- Modal Effect Model -->
                    {% include 'effectModal.html' %}
                <!-- Text -->
                <p class="text-muted mb-0">
                   Short description of the Effect model.
                </p>
              </div>
                <!--#endregion-->

                <!--#region Curp Model-->
              <br><div class="col-12 col-md-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                    <!-- Icon -->
                    {% include 'modelsIcons.html' %}

                    <!-- Heading -->
                    <h3>
                        <a class="link-model" href="#" data-toggle="modal" data-target="#CurpModal">Curp Model</a>
                    </h3>

                    <!-- Modal Curp Model -->
                    {% include 'curpModal.html' %}

                <!-- Text -->
                <p class="text-muted mb-0">
                   Short description of the Curp model.
                </p>
            </div>
                <!--#endregion-->

                <!--#region Fica Model-->
                <div class="col-12 col-md-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                    <!-- Icon -->
                    {% include 'modelsIcons.html' %}
                    <!-- Heading -->
                    <h3>
                        <a class="link-model" href="#" data-toggle="modal" data-target="#FicaModal">Fica Model</a>
                    </h3>
                    <!-- Modal Fica Model -->
                    {% include 'ficaModal.html' %}
                <!-- Text -->
                <p class="text-muted mb-0">
                   Short description of the Fica model.
                </p>
            </div>
                <!--#endregion-->

                <!--#region Factor Model-->
                <div class="col-12 col-md-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

                    <!-- Icon -->
                    {% include 'modelsIcons.html' %}

                    <!-- Heading -->
                    <h3>
                        <a class="link-model" href="#" data-toggle="modal" data-target="#FactorModal">Factor Model</a>
                    </h3>

                    <!-- Modal Factor Model -->
                    {% include 'factorModal.html' %}

                    <!-- Text -->
                    <p class="text-muted mb-0">
                        Short description of the Factor model.
                    </p>
            </div>
                <!--#endregion-->

                <!--#region Comca Model-->
                <div class="col-12 col-md-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                    <!-- Icon -->
                    {% include 'modelsIcons.html' %}
                    <!-- Heading -->
                    <h3>
                        <a class="link-model" href="#" data-toggle="modal" data-target="#ComcaModal"> Comca Model</a>
                    </h3>
                    <!-- Modal Comca Model -->
                    {% include 'comcaModal.html' %}
                    <!-- Text -->
                    <p class="text-muted mb-0">
                       Short description of the Comca model.
                    </p>
            </div>
                <!--#endregion-->

            </div>  <!-- / .row -->
          </div>    <!-- / .container -->
        </section>  <!-- / .section -->
    <!--#endregion -->
    </body>         <!-- / .body -->

{% endblock %}




