<!DOCTYPE html>
<html>
{% extends "basePage.html" %}

{% block app_content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='MenuCards.css') }}">
<div class="parent--products">
    {% for tile in tiles %}
  <section class="products">
    <div class="product-card">
      <div class="product-image">
        <img src="{{url_for('static', filename=tile.img)}}" width="20" height="20" />
      </div>
      <div class="product-info">
        <h5>str(tile.header)</h5>
        <h6></h6>
      </div>
    </div>
  </section>
    {% endfor %}
</div>

{% endblock %}

<html>
