{% extends "basePage.html" %}

{% block selectModels %}
<style type="text/css">
    .text-model { color: #007faa; }
    .dropdown-menu{width:100%; text-align:center;}
    .dropdown-item{color: #333; font-size: 4.5 rem; font-weight:300; font-family: Merriweather,serif;}
    .dropdown-menu a:hover{font-weight: bold !important; color:black !important;}
    .dropdown-menu .dropdown-item{text-decoration:none; border-bottom:none;}

    .footer { background-color: #fff; }
    .mt-auto, .my-auto { margin-top: auto!important; }
    .pb-3, .py-3 { padding-bottom: 1rem!important; }
    .pt-3, .py-3 { padding-top: 1rem!important; }
    .text-muted {font-size: 12px; }
    #row-1 { padding-top: 100px; padding-bottom: 870px; font-size: 11px; }}
</style>

 <body>
    <div class="container">
        <div class="row" style="height: 100px;" id="row-1">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 my-1">
                <div class="text-center">
                    <img class="mb-4" alt="" src="\static\bar_graph_64.png" >
                    <!-- Heading -->
                    <h1 class="display-3 text-center text-md-left">
                        Select a <span class="text-model">model</span> below
                    </h1><br>
                        <div class="btn-group btn-block">
                            <button class="btn btn-secondary btn-lg dropdown-toggle btn-block" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Models
                            </button><br>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ url_for('times') }}">Times</a><br>
                                <a class="dropdown-item" href="#">Maven</a><br>
                                <a class="dropdown-item" href="#">Effect</a><br>
                                <a class="dropdown-item" href="#">Curp</a><br>
                                <a class="dropdown-item" href="#">Fica</a><br>
                                <a class="dropdown-item" href="#">Factor</a><br>
                                <a class="dropdown-item" href="#">Comca</a>
                            </div>
                        </div>
                    <br>
                    <br>
                </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
        <footer class="footer mt-auto py-3" id="container-footer">
            <div class="container" align="center">
                <span class="text-muted">© Legal & General 2020</span>
            </div>
        </footer>

    </div>
<body>
{% endblock %}
