<!DOCTYPE html>
<html>
{% extends "basePage.html" %}

{% block app_content %}

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='TableCss.css') }}">
<h1>Example Model Output</h1>
    <h2>Responsive Table with Hover:</h2>

   <table class="table">

      <style type="text/css">
        .table-hover tbody tr:hover td
        {
            background-color: #81b8de;
        }
        body
        {
            margin: 50px;
        }
    </style>

<div style="overflow:scroll; height:100px;">
<div class="table-responsive">
<table id='table' class="table table-hover">
  <thead>
    <tr> <!--- Import Headers table-hover --->
        {%for i in range(0,lenHead)%}
      <th>{{tableData['headers'][i]}}</th>
        {%endfor%}
    </tr>
  </thead>
  <tbody>
  {%for j in range(0,lenRow)%}

      <tr class="clickable-row">

    {%for k in range(0,lenHead)%}
        <!--- Import Rows--->
         <td>{{tableData['rows'][j][k]}}</td>
    {%endfor%}
      </tr>
  {%endfor%}
  </tbody>
</table>
</div>
</div>

<h2>Light table with hover:</h2>

<button onclick="window.location.href = '/charts';">Click Here</button>

<p><strong>Please note:</strong> this CodePen has Autoprefixer enabled. You may need vendor prefixes for full CSS gradient and Flexbox support.</p>

<p><strong>Supports:</strong> IOS7+, Android 4.3+</p>

{% endblock %}

</html>
