{% extends "basePage.html" %}

{% block timesModel %}
    <!-- Style of the Home Page -->
    <style type="text/css">
            .text-database { color: #007faa; }
    </style>
    <!-- Body of the Home Page -->
    <body data-aos-easing="ease-out-quad" data-aos-duration="700" data-aos-delay="0">

    <!--#region Main Times Text  -->
        <!-- TIMES MODEL PAGE
        ================================================== -->
        <section class="pt-4 pt-md-11">
          <div class="container">
            <div class="row justify-content-lg-between align-items-lg-left py-5" id="items-center">
                <div class="col-12 col-md-4 col-lg-6 order-md-1 text-lg-left" id="text-home">
                    <!-- Heading -->
                    <h1 class="display-3 text-md-left">
                       <span class="text-database">TIMES</span> Model
                    </h1><br>
                    <!-- Text -->
                    <p class="lead text-secondary mb-4">
                        <i>Last Run: 15-01-2020</i>
                    </p><br>
                    <div class="button-charts">
                        <a href="{{ url_for('times_dashboard') }}" target="_blank" class="button-submit">
                            <button class="btn btn-lg btn-primary" type="submit">Charts</button><br>
                        </a>
                    </div>
                    <div class="button-charts">
                        <a href="{{ url_for('times_overview') }}" target="_blank" class="button-submit">
                            <button class="btn btn-lg btn-primary" type="submit">Overview</button><br>
                        </a>
                    </div>

                </div>
                <div class="col-12 col-md-8 col-lg-6 order-md-1">
                    <h2 class="display-3 text-md-right">
                        <i>Inputs</i>
                    </h2>
                    {% include 'times_tables.html' %}
                </div>
            </div>
          </div>    <!-- / .container -->
        </section>  <!-- / .section -->
<!--#endregion -->
    </body>

{% endblock %}