{% extends "basePage.html" %}

{% block timesModel %}
    <!-- Style of the Home Page -->
    <head>
        <!--TIMES PAGE CSS STYLE
        ================================================== -->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <link rel="stylesheet" href="{{url_for('.static', filename='times_page_css.css')}}">
        <link rel="import" href="times_page_new_version_layout.html">
    </head>

    <!-- Body of the Dashboard Page -->
    <body>
         <div class="be-content">
              <div class="main-content container-fluid"></div>
              <div class="row">
                  <div class="col-12 col-lg-1"></div>
                  <div class="col-12 col-lg-10">
                      <div class="widget widget-fullwidth be-loading">
                              <div class="widget-chart-container">
                                  <p class="last-run-text">
                                      <i>Last Run: 14/02/2020</i>
                                  </p>
                                   <div align="center">
                                       <img id="icon-model-page" src="/static/img/bar_chart_3.png">
                                        <h2 class="overview-title"><strong><span class="overview-span">TIMES</span> Model</strong></h2>

                                       <div class="dashboard-btn">
                                           <a href="{{ url_for('times_dashboard') }}" target="_blank">
                                               <button class="btn btn-dashboard btn-primary" type="submit" id="dashboard-btn"><strong>Dashboard</strong></button>
                                           </a>
                                       </div>

                                       <form class="center" action="" method="POST" novalidate>
                                       {{ form.hidden_tag() }}
                                            <!-- Form: select the version for the model -->
                                           <div class="btn-group">
                                               {{ form.versions(class="form-control", id="selectVersionId")}}
                                           </div>
                                            <div class="btn-group">
                                                <div class="button-submit">
                                                   <button class="btn btn-lg btn-primary" type="submit" name="submit_button" value="selectVersions" id="selectInputDatesChartSubmit1">{{ form.submit_versions.label }}</button><br>
                                                </div>
                                            </div>
                                        </form>
                                        <!--if version ici-->
                                   </div>
                              </div>
                      </div>
                  </div>
                  <div class="col-12 col-lg-1"></div>
              </div>

             {% if version_type == "New Version"  or  save == "save"  or run_model == "run_model" %}

               <div class="row">
                    <div class="col-12 col-lg-1"></div>
                    <div class="col-12 col-lg-10">
                        <div class="widget widget-fullwidth-assetsInputs be-loading">
                            <div class="widget-chart-container">
                                <div align="center">
                                {% block assetsInputs%} {% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                   <div class="col-12 col-lg-1"></div>
               </div>

              <div class="row">
                  <div class="col-12 col-lg-1"></div>
                    <div class="col-12 col-lg-10">
                        <div class="widget widget-fullwidth-inputs be-loading">
                            <div class="widget-chart-container" id="widget-chart-container">
                                <form class="center" action="" method="POST" novalidate>
                                    {{ form.hidden_tag() }}
                                    <div align="center">
                                        {% block inputs %} {% block runModel%} {% endblock %} {% endblock %}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
              </div>

             <div class="row" id="row-inputs-save">
                 <div class="col-12 col-lg-6"></div>
                    <div class="col-12 col-lg-4">
                        <div class="widget widget-fullwidth-save be-loading">
                            <div class="widget-chart-container">
                                <form class="center" action="" method="POST" novalidate>
                                    {{ form.hidden_tag() }}
                                    <div align="center">
                                        {% block save %} {% endblock %}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                  <div class="col-12 col-lg-6"></div>
             </div>

             {% endif %}

                <!-- FOOTER
               ===================================== !-->
              <footer class="footer py-3" id="container-footer">
                  <div class="container" align="center">
                      <span class="text-muted">© Legal & General 2020</span>
                  </div>
              </footer><!-- .footer -->
         </div>

    </body><!-- .body -->
{% endblock %}