
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<style>

.sidenav {
    height: 100%; width: 180px; position: fixed; z-index: 1;
  top: 0;
  left: 0;
  background-color: #005774;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {padding-left: 16px; text-decoration: none; font-size: 23px; color: #fff; display: block;}

.sidenav a:hover {
  color: #f1f1f1;
}

.container {margin-left: 180px; font-size: 28px; background-color: pink; width: 100%}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.title-dashboard {
            color: #005774;
            font-size: 2rem;
            line-height: 1.4;
            margin-top: 60px;
            margin-bottom: 23px;
            margin-left: 200px;
            max-width: 75%;
            display: inline-block;
            z-index: 2;}




.date_run_dashboard{margin-bottom: 25px; margin-left: 200px;}








.sidenav-home{margin-top: 40px; margin-bottom: 20px;}


.form-models-select-sidebar {color: #005774 !important; border-color: #007faa !important; width: 140px; height: 38px; margin-left: 10px; padding-top:0px;}
.label-models-select-sidebar {color: #fff;  padding-left: 16px; margin-top: 10px;}
.btn-select-sidebar {font-size: 1rem; width: 45px;height: 38px}

.label-models-date-sidebar{color: #fff;  padding-left: 16px;}
#btn-select-charts-ok, #btn-select-export-data{width: 45px; margin-left: 58px; color: #005774; height: 25px; padding-top: 0px;}



.navbar-default {
   margin-left: 180px;
}
.navbar-default .navbar-nav .nav-link {color: #007faa;}
.navbar-default .nav-item:hover .nav-link {color: rgb(102, 204, 238);}



.row_notional_table, .row_matr_table{margin-bottom: 10px; margin-left: 167px;}
.row_table_overview{margin-left: 150px; margin-top: 50px; margin-left: 167px;}

.row-agg-line-chart{margin-left: 130px;}

.row-year-contrib-agg-line-chart{margin-left: 220px;}
.row-drawdown-agg-line-chart{margin-left: 0px;}
.row-quarterly-profit-agg-line-chart{margin-left: 145px; margin-top: 80px;}

.title-table-overview{color: #005774; font-weight: bold;}
.sub_title_table_overview{font-size: 0.75rem;}


tr {
   line-height: 11px;
   height: 11px;

}

#submit_ok_quarterly_profit_and_loss{height: 30px; margin-left: 10px; width: 70px; padding-top: 2px;}
#date_box_effect{height: 30px; width: 150px; text-align: center; margin-bottom: 5px;}

#submit_ok_charts_effect_data{height: 30px; margin-left: 10px; width: 50px; margin-left: 55px; padding-top: 2px; color: #005774; margin-bottom: 20px;}
#versions_effect{text-align: center;  margin-bottom: 15px; padding-bottom: 0px; padding-top: 0px; color: #005774 !important; border-color: #007faa !important; width: 140px; margin-top: 10px; height: 30px; margin-left: 10px;}
#versions_export_effect{text-align: center;  margin-bottom: 20px; padding-bottom: 0px; padding-top: 0px; color: #005774 !important; border-color: #007faa !important; width: 140px; margin-top: 10px; height: 30px; margin-left: 10px;}
#start_date_effect_inputs{text-align: center; width: 140px;  height: 30px; margin-left: 10px; color: #005774; margin-bottom: 20px;}
#end_date_effect_inputs{text-align: center; width: 140px;  height: 30px; margin-left: 10px; color: #005774; margin-bottom: 15px;}

.title-date-box-effect{font-size: 18px; margin-left: 40px;}
.title-end-date-box-effect{font-size: 18px; padding-top: 10px;}
</style>
</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top navbar-default py-lg-0 ">
        <button class="navbar-toggler" type="button"
                    data-toggle="collapse"
                    data-target="#navbarResponsive"
                    aria-controls="navbarResponsive"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="mailto:NexusQuantDev@lgim.com" target=""><b>Support</b></a></li>
            </ul>
        </div>
    </nav>
    <!--Sidebar-->
    <div class="sidenav">
        <a href="{{url_for('home')}}"><img alt="Legal and General" width="90px;" height="auto" src="https://www.legalandgeneral.com/web_resources/landscape/images/landg-logo.svg"></a>

        <a class="sidenav-home" href="{{url_for('home')}}">Home</a>

        <!-- ============================= CHARTS DATA ============================= -->
        <a class="sidenav-item" href="#">Charts Data</a>
        <form class="center" action="" method="POST" novalidate>
            {{ form.hidden_tag() }}
            <!-- Form: select the version for the model -->
            <div class="btn-group">
                {{ form.versions_effect(class="form-control", id="versions_effect")}}
            </div>
            {{ form.submit_ok_charts_effect_data(class="form-control",  id="submit_ok_charts_effect_data")}}
        </form>

        <!-- ============================= EXPORT DATA ============================= -->
        <a class="sidenav-item" href="#">Export Data</a>
        <form class="center" action="" method="POST" novalidate>
            {{ form.hidden_tag() }}
            <!-- Form: select the version for the model -->
            <div class="btn-group">
                {{ form.versions_effect(class="form-control", id="versions_export_effect")}}
            </div>
            <label class="label-models-date-sidebar">Start date</label>
            {{ form.start_date_effect_inputs(class="form-control", placeholder="25/12/2018", id="start_date_effect_inputs") }}
             <label class="label-models-date-sidebar">End date</label>
            {{ form.end_date_effect_inputs(class="form-control", placeholder="05/01/2019", id="end_date_effect_inputs") }}
            {{ form.submit_ok_export_effect_data(class="form-control", id="submit_ok_charts_effect_data")}}
        </form>
    </div>

    <!-- ============================= CHARTS AREA ============================= -->
    <div class="container-fluid">
        <h2 class="title-dashboard">EFFECT Dashboard</h2><br>

        <h6 class="date_run_dashboard text-muted">Date run {{data_effect['effect_data_form']['input_signal_date_effect']}}</h6>

        <div class="row row_notional_table">
            <div class="col-lg-6">
                <table class="table table-hover table-custom">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="text-muted text-center" scope="row">Drawdown (%)</th>
                        <td class="text-muted text-center">{{data_effect['effect_outputs']['signals_overview']['signals_drawdown_position_size_matr']['drawdown']}}</td>
                    </tr>
                    <tr>
                        <th class="text-muted text-center" scope="row">Position size in MATR (%)</th>
                        <td class="text-muted text-center">{{data_effect['effect_outputs']['signals_overview']['signals_drawdown_position_size_matr']['size_matr']}}</td>
                    </tr>
                </tbody>
            </table>
            </div>

            <div class="col-lg-6">
                <table class="table table-hover table-custom">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="text-muted text-center" scope="row">Ex-ante vol (%)*</th>
                        <td class="text-muted text-center">{{data_effect['effect_outputs']['signals_overview']['signals_limits_controls']['ex_ante_vol']}}</td>
                    </tr>
                    <tr>
                        <th class="text-muted text-center" scope="row">MATR Notional (%)**</th>
                        <td class="text-muted text-center">{{data_effect['effect_outputs']['signals_overview']['signals_limits_controls']['matr_notional']}}</td>

                    </tr>
                </tbody>
            </table>
                <h6 class="text-muted sub_title_table_overview">* 2% vol limit</h6>
                <h6 class="text-muted sub_title_table_overview">** 15% soft notional limit, 20% hard notional limit</h6>
            </div>
        </div>

        <!--100% notional(bp)-->
        <div class="row row_notional_table">
            <div class="col-lg-12">
                <h6 class="title-table-overview">100% notional (bp)</h6>
                <table class="table table-hover table-custom">
                <thead>
                    <tr>
                        <th scope="col" id="index-perf-cell"></th>
                        <th scope="col" id="ret-cum-perf-cell"></th>
                        <th scope="col" id="ret-perf-cell"></th>
                        <th scope="col" id="vol-perf-cell"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="text-muted text-center" scope="row">Weekly P&L</th>
                        <td class="text-muted text-center">{{data_effect['effect_outputs']['profit_and_loss']['profit_and_loss_notional']['profit_and_loss_total_weekly_notional']}}</td>
                        <td class="text-muted text-center">{{data_effect['effect_outputs']['profit_and_loss']['profit_and_loss_notional']['profit_and_loss_spot_weekly_notional']}}</td>
                        <td class="text-muted text-center">{{data_effect['effect_outputs']['profit_and_loss']['profit_and_loss_notional']['profit_and_loss_carry_weekly_notional']}}</td>
                    </tr>
                <tr>
                        <th class="text-muted text-center" scope="row">YTD P&L</th>
                        <td class="text-muted text-center">{{data_effect['effect_outputs']['profit_and_loss']['profit_and_loss_notional']['profit_and_loss_total_ytd_notional']}}</td>
                        <td class="text-muted text-center">{{data_effect['effect_outputs']['profit_and_loss']['profit_and_loss_notional']['profit_and_loss_spot_ytd_notional']}}</td>
                        <td class="text-muted text-center">{{data_effect['effect_outputs']['profit_and_loss']['profit_and_loss_notional']['profit_and_loss_carry_ytd_notional']}}</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
        <!--As implemented in MATR (bp)-->
        <div class="row row_matr_table">
            <div class="col-lg-12">
                <h6 class="title-table-overview">As implemented in MATR (bp)</h6>
                <table class="table table-hover table-custom">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th class="text-muted text-center" scope="row">Weekly P&L</th>
                        <td class="text-muted text-center">{{data_effect['effect_outputs']['profit_and_loss']['profit_and_loss_matr']['profit_and_loss_total_weekly_matr']}}</td>
                        <td class="text-muted text-center">{{data_effect['effect_outputs']['profit_and_loss']['profit_and_loss_matr']['profit_and_loss_spot_weekly_matr']}}</td>
                        <td class="text-muted text-center">{{data_effect['effect_outputs']['profit_and_loss']['profit_and_loss_matr']['profit_and_loss_carry_weekly_matr']}}</td>
                    </tr>
                <tr>
                        <th class="text-muted text-center" scope="row">YTD P&L</th>
                        <td class="text-muted text-center">{{data_effect['effect_outputs']['profit_and_loss']['profit_and_loss_matr']['profit_and_loss_total_ytd_matr']}}</td>
                        <td class="text-muted text-center">{{data_effect['effect_outputs']['profit_and_loss']['profit_and_loss_matr']['profit_and_loss_spot_ytd_matr']}}</td>
                        <td class="text-muted text-center">{{data_effect['effect_outputs']['profit_and_loss']['profit_and_loss_matr']['profit_and_loss_spot_ytd_matr']}}</td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
        <!--Table overview-->
        <div class="row row_table_overview">
            <!--Profit and Loss-->
            <div class="col-lg-4">
                <h6 class="title-table-overview text-center">Profit and Loss</h6>
                <table class="table table-hover table-custom">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th class="text-muted text-center" scope="col">Lastweek</th>
                        <th class="text-muted text-center" scope="col">Total(%)<br></th>
                        <th class="text-muted text-center" scope="col">Spot(%)</th>
                        <th class="text-muted text-center tex" scope="col">Carry</th>
                    </tr>
                </thead>
                <tbody>
                    {% for currency in range(data_effect['write_logs']['currency_logs']|length) %}
                        <tr>
                            <th class="text-muted text-center">{{data_effect['write_logs']['currency_logs'][currency]}}</th>
                            <td class="text-muted text-center">{{data_effect['effect_outputs']['profit_and_loss']['profit_and_loss_combo_overview'][currency]}}</td>
                            <td class="text-muted text-center">{{data_effect['effect_outputs']['profit_and_loss']['profit_and_loss_total_overview'][currency]}}</td>
                            <td class="text-muted text-center">{{data_effect['effect_outputs']['profit_and_loss']['profit_and_loss_spot_ex_overview'][currency]}}</td>
                            <td class="text-muted text-center">{{data_effect['effect_outputs']['profit_and_loss']['profit_and_loss_carry_overview'][currency]}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            <!--Signals-->
            <div class="col-lg-4">
                <h6 class="title-table-overview text-center">Signals</h6>
                <table class="table table-hover table-custom">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th class="text-muted text-center" scope="col">Real carry(%)</th>
                            <th class="text-muted text-center" scope="col">Trend(%)</th>
                            <th class="text-muted text-center" scope="col">This week</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for currency in range(data_effect['write_logs']['currency_logs']|length) %}
                            <tr>
                                <th class="text-muted"></th>
                                <td class="text-muted text-center">{{data_effect['effect_outputs']['signals_overview']['signals_real_carry'][currency]}}</td>
                                <td class="text-muted text-center">{{data_effect['effect_outputs']['signals_overview']['signals_trend_overview'][currency]}}</td>
                                <td class="text-muted text-center">{{data_effect['effect_outputs']['signals_overview']['signals_combo_overview'][currency]}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
             <!--Trades-->
            <div class="col-lg-2">
                <h6 class="title-table-overview text-center">Trades</h6>
                <table class="table table-hover table-custom">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th class="text-muted text-center" scope="col">This week</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for currency in range(data_effect['write_logs']['currency_logs']|length) %}
                            <tr>
                                <th class="text-muted text-center"></th>
                                <td class="text-muted text-center">{{data_effect['effect_outputs']['trades_overview'][currency]}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!--Warning Flags-->
            <div class="col-lg-2">
                <h6 class="title-table-overview text-center">Warning flags</h6>
                <table class="table table-hover table-custom">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th class="text-muted text-center" scope="col">Rates(%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for currency in range(data_effect['write_logs']['currency_logs']|length) %}
                            <tr>
                                <th class="text-muted"></th>
                                <td class="text-muted text-center">{{data_effect['effect_outputs']['rates'][currency]}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Regions chart-->
        <div class="row row-agg-line-chart">
            <div class="col-lg-12">
                <div id="region_line_chart_effect" class="responsive-plot"></div>
                <script type="text/javascript" src="{{ url_for('static', filename='js/line_chart_region_effect.js') }}"></script>
                <script type="text/javascript">
                   region_line_chart({{data_effect['region_chart']['latam']|tojson}},
                                     {{data_effect['region_chart']['ceema']|tojson}},
                                     {{data_effect['region_chart']['asia']|tojson}},
                                     {{data_effect['region_chart']['total']|tojson}},
                                     {{data_effect['region_chart']['average']|tojson}},
                                     {{data_effect['region_chart']['region_dates']|tojson}})
                </script>
            </div>
        </div>

        <!--Year to year contrb bar chart-->
        <div class="row row-year-contrib-agg-line-chart">
            <div class="col-lg-12">
                <div id="horizontal_bar_chart_effect" class="responsive-plot"></div>
                <script type="text/javascript" src="{{ url_for('static', filename='js/horizontal_bar_chart_year_to_year_contrib_effect.js') }}"></script>
                <script type="text/javascript">
                   horizontal_bar_chart({{data_effect['year_to_date_contrib_chart']['year_to_year_contrib']|tojson}},
                                        {{data_effect['year_to_date_contrib_chart']['year_to_date_contrib_sum_prod_total']|tojson}},
                                        {{data_effect['year_to_date_contrib_chart']['names_curr']|tojson}})
                </script>
            </div>
        </div>

        <!--Aggregate chart-->
        <div class="row row-agg-line-chart">
            <div class="col-lg-5">
                <div id="aggregate_line_chart_effect" class="responsive-plot"></div>
                <script type="text/javascript" src="{{ url_for('static', filename='js/aggregate_line_chart_effect.js') }}"></script>
                <script type="text/javascript">
                   agg_line_chart({{data_effect['effect_outputs']['total_excl_signals']|tojson}},
                                  {{data_effect['effect_outputs']['total_incl_signals']|tojson}},
                                  {{data_effect['effect_outputs']['spot_incl_signals']|tojson}},
                                  {{data_effect['effect_outputs']['spot_excl_signals']|tojson}},
                                  {{data_effect['effect_outputs']['agg_dates']|tojson}})
                </script>
            </div>
            <!--Drawdown line chart-->
            <div class="col-lg-7">
                <div id="drawdown_line_chart_effect" class="responsive-plot"></div>
                <script type="text/javascript" src="{{ url_for('static', filename='js/line_chart_max_drawdown_effect.js') }}"></script>
                <script type="text/javascript">
                   drawdown_line_chart({{data_effect['drawdown_chart']['max_drawdown_no_signals_series']|tojson}},
                                        {{data_effect['drawdown_chart']['max_drawdown_with_signals_series']|tojson}},
                                        {{data_effect['drawdown_chart']['max_drawdown_jgenvuug']|tojson}},
                                        {{data_effect['drawdown_chart']['drawdown_dates']|tojson}})
                </script>
            </div>
        </div>

        <!--Quarterly profit and loss chart-->
        <div class="row row-quarterly-profit-agg-line-chart">
            <form class="center" action="" method="POST" novalidate>
                <label class="title-date-box-effect text-muted">Start backtest</label>
                <div class="btn-group">
                    {{form.start_date_quarterly_backtest_profit_and_loss_effect(class="form-control", placeholder="31/03/2014", id="date_box_effect")}}
                </div>
                <label class="title-end-date-box-effect text-muted">End backtest</label>
                <div class="btn-group">
                    {{form.end_date_quarterly_backtest_profit_and_loss_effect(class="form-control", placeholder="30/06/2017", id="date_box_effect")}}
                </div>
                 <label class="title-end-date-box-effect text-muted">Start livetest</label>
                <div class="btn-group">
                    {{form.start_date_quarterly_live_profit_and_loss_effect(class="form-control", placeholder="30/06/2017", id="date_box_effect")}}
                    {{form.submit_ok_quarterly_profit_and_loss(class="form-control", id="submit_ok_quarterly_profit_and_loss")}}
                </div>
            </form>
            <div class="col-lg-12">
                <div id="vertical_bar_chart_effect" class="responsive-plot"></div>
                <script type="text/javascript" src="{{ url_for('static', filename='js/vertical_bar_chart_quarterly_profit_and_loss.js') }}"></script>
                <script type="text/javascript">
                   vertical_bar_chart({{data_effect['quarterly_profit_and_loss_chart']['backtest_quarterly_profit_and_loss']|tojson}},
                                      {{data_effect['quarterly_profit_and_loss_chart']['live_quarterly_profit_and_loss']|tojson}},
                                      {{data_effect['quarterly_profit_and_loss_chart']['quarterly_backtest_dates']|tojson}},
                                      {{data_effect['quarterly_profit_and_loss_chart']['quarterly_live_dates']|tojson}},
                                      {{data_effect['quarterly_profit_and_loss_chart']['quarters_backtest']|tojson}},
                                      {{data_effect['quarterly_profit_and_loss_chart']['quarters_live']|tojson}})
                </script>
            </div>
        </div>
    </div>
</body>