{% extends "base.html" %}

<html>

<head>
    <title>{{ title }}</title>
</head>

<body>
    {% block homepage %}
    <div class="jumbotron jumbotron-fluid jumbotron-image shadow" style="background-image: url(static/img/home_banner.jpg);">
        <div class="container"><h1 class="display-4">Asset Allocation ARP</h1></div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>

            <div class="col-lg-2">
                <h3><a class="link-model" href="{{url_for('times_strategy')}}">TIMES MODEL</a></h3>
                <p class="text-muted mb-6 mb-md-0">Time-series momentum strategy</p>
            </div>

            <div class="col-lg-2">
                <h3><a class="link-model" href="#">MAVEN MODEL</a></h3>
                 <p class="text-muted mb-6 mb-md-0">Multi-asset momentum and value strategy</p>
            </div>

            <div class="col-lg-2">
                <h3><a class="link-model" href="{{ url_for('effect_strategy_get')}}">EFFECT MODEL</a></h3>
                <p class="text-muted mb-6 mb-md-0">FX carry and trend strategy</p>
            </div>

             <div class="col-lg-2">
                 <h3><a class="link-model" href="#">COMCA MODEL</a></h3>
                <p class="text-muted mb-6 mb-md-0">Equity risk factor composite strategy</p>
            </div>

             <div class="col-lg-2"></div>
        </div>

        <div class="row">
            <div class="col-lg-2"></div>

            <div class="col-lg-2">
                <h3><a class="link-model" href="#">CURP MODEL</a></h3>
                <p class="text-muted mb-6 mb-md-0">FX carry and value strategy</p>
            </div>

            <div class="col-lg-2">
                <h3><a class="link-model" href="#">FICA MODEL</a></h3>
                 <p class="text-muted mb-6 mb-md-0">Fixed income carry strategy</p>
            </div>

            <div class="col-lg-2">
                <h3><a class="link-model" href="#">FACTOR MODEL</a></h3>
                <p class="text-muted mb-6 mb-md-0">Equity risk factor composite strategy</p>
            </div>

            <div class="col-lg-2">
                <h3><a class="link-model" href="#">MODELS CONSOLIDATION</a></h3>
                <p class="text-muted mb-6 mb-md-0">Matrix gathering each position for all the models</p>
            </div>

            <div class="col-lg-2"></div>
        </div>

    </div>
    {% endblock %}


</body>

</html>