{% extends "base.html" %}

<head>
</head>


<body>
    {% block risk_returns_page %}
    <div class="container">
        <div class="row">
            <h1 class="title-page">RISK RETURNS OVERALL</h1>
        </div>

        <div class="row row_risk_returns">
            <div class="card">
                <div class="card-header text-center">
                    EFFECT
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <h6 class="card-title-risk-returns">No signals</h6>
                        </div>
                        <div class="col-lg-9">
                            <table class="table table-hover table-borderless">

                                <tbody>
                                    <tr>
                                      <td scope="row">Excess returns (%)</td>
                                      <td>Mark</td>
                                    </tr>
                                    <tr>
                                      <td scope="row">Std. Dev (%)</td>
                                      <td>Mark</td>
                                    </tr>
                                    <tr>
                                      <td scope="row">Sharpe</td>
                                      <td>Jacob</td>
                                    </tr>
                                    <tr>
                                      <td scope="row">Max drawdown (%)</td>
                                      <td colspan="2">Larry the Bird</td>
                                    </tr>
                                    <tr>
                                      <td scope="row">Calmar ratio</td>
                                      <td colspan="2">Larry the Bird</td>
                                    </tr>
                                    <tr>
                                      <td scope="row">Equity correlation</td>
                                      <td colspan="2">Larry the Bird</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>


    </div>
    {% endblock %}


</body>