<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ag-grid/23.2.1/ag-grid-community.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ag-grid/23.2.1/styles/ag-grid.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ag-grid/23.2.1/styles/ag-theme-bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ag-grid/23.2.1/styles/ag-theme-balham.min.css">

        <!--Calendar import-->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <!-- Bootstrap Date-Picker Plugin -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

        <script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/times_dashboard.css') }}">

    </head>

    <!--Get username to be used for authentication-->
<p hidden id="dominoUser">{{ request.headers.get("domino-username") }}</p>
<script>
     let header_value = document.getElementById('dominoUser').innerHTML;
     if (header_value === "None") {
         // means we are running locally
         sessionStorage.setItem("username", document.cookie.split('=')[1]);
     } else {
         // we're on Domino
         sessionStorage.setItem("username", document.getElementById('dominoUser').innerHTML)
     }
</script>

    <body>

        <!-- ============================= SIDEBAR ============================= -->
        <div class="sidenav">

        <!-- LGIM Logo-->
        <a class="content-sidebar" href="{{url_for('home')}}">
            <img id="logo-lgim" alt="Legal and General" width="70px;" height="70px;" src="https://www.legalandgeneral.com/web_resources/landscape/images/landg-logo.svg">
        </a>

        <a class="sidenav-home" href="{{url_for('home')}}">Home</a>

        <!-- CHARTS DATA -->
        <a class="sidenav-item" href="#">Charts Data</a>
        <form>
            <!-- Fund name -->
            <label class="label-models-date-sidebar">Step <b>1</b>: select a fund</label>
            <select class="form-control selectFund" id="send_data_fund_from_sidebar" onchange='sideBarFund()'>
                <option disabled selected value>fund</option>
                {% for f in fund_list %}
                    <option hidden >Funds available</option>
                    <option>{{f}}</option>
                {% endfor %}
            </select>

            <!--Versions-->
            <label class="label-models-date-sidebar">Step <b>2</b>: select a version</label>
            <select class="form-control selectFund" id="send_data_version_from_sidebar" onchange='sideBarChartsVersion()'>
                <option disabled selected value>version</option>
                {% for v in versions_list %}
                    <option hidden >Versions available</option>
                    <option>{{v}}</option>
                {% endfor %}
            </select>

            <!--Date to-->
            <label class="label-models-date-sidebar">Step <b>3</b>: select a date to</label>
             <select class="form-control selectFund" id="input_date_to_side_bar_times" onchange='sendDateToSidebar()'>
                 <option disabled selected value>charts date to</option>
             </select>
        </form>
        <script src="{{ url_for('static', filename='js/form_dashboard_times.js') }}"></script>



        <!-- EXPORT DATA -->
        <a class="sidenav-item" href="#">Export Data</a>
        <form>
            <!-- Fund name -->
            <label class="label-models-date-sidebar">Step <b>1</b>: select a fund</label>
            <select class="form-control selectFund" id="send_data_fund_export_from_sidebar" onchange='sideBarExportFund()'>
                {% for f in fund_list %}
                    <option hidden >Funds available</option>
                    <option>{{f}}</option>
                {% endfor %}
            </select>

            <label class="label-models-date-sidebar">Step <b>2</b>: select a version</label>
            <select class="form-control selectFund" id="send_data_version_export_from_sidebar" onchange='sideBarExportVersion()'>
                {% for v in versions_list %}
                    <option hidden >Versions available</option>
                    <option>{{v}}</option>
                {% endfor %}
            </select>

            <!--Date to-->
            <label class="label-models-date-sidebar">Step <b>3</b>: select a date to</label>
            <select class="form-control selectFund" id="input_date_to_export_side_bar_times" onchange='sendDateToExportSidebar()'>
                 <option disabled selected value>export date to</option>
            </select>
            {% if export_data_sidebar == 'export_data_sidebar' %}
                {% include 'pop_up_success_save_domino.html' %}
            {% endif %}

        </form>
        <script src="{{ url_for('static', filename='js/form_dashboard_times.js') }}"></script>
    </div>

        <!-- ============================= CHARTS AREA ============================= -->
        <div class="content">
            <div class="container-fluid">
                 <!-- NAVBAR -->
                <nav class="navbar navbar-expand-lg fixed-top navbar-default py-lg-0 ">
                 <button class="navbar-toggler" type="button"
                        data-toggle="collapse"
                        data-target="#navbarResponsive"
                        aria-controls="navbarResponsive"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                 </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="mailto:NexusQuantDev@lgim.com" target=""><b>Support</b></a></li>
                        </ul>
                    </div>
                </nav>
                 <div class="row">
                    <div class="header-body">
                        <h6 class="header-pretitle">Overview</h6>
                        <h2 class="title-dashboard"><b>TIMES Dashboard</b></h2>
                        <h6 class="sub-title-dashboard"><i><b>Fund name: {{fund_strategy['fund']}} Strategy version: {{fund_strategy['strategy_version']}}</b></i></h6><br>
                        <h6 class="sub-title-dashboard"><i><b>Date run: {{date_run}}</b></i></h6>
                    </div>
                 </div>

                <!-- Positions and Performance Tables (overall) -->
                <div class="row row-table-overall">
                    <!--Positions-->
                    <div class="col-lg-9">
                        <div class="card card-margin_bottom">
                         <h6 class="header-pretitle-card">Overview</h6>
                         <h4 class="card-header-overview"><b>Positions (%)</b></h4>
                         <div class="card-body">
                             <table class="table table-hover">
                                  <thead>
                                    <tr>
                                        <th class="text-muted text-center" scope="col">Signal as off <i class="signal-as-off-date">{{signal_as_off}}</i></th>
                                        <th class="text-muted text-center" scope="col">Previous</th>
                                        <th class="text-muted text-center" scope="col">New</th>
                                    </tr>
                                  </thead>

                                 <tbody>
                                    {% for category, pre_overall, new_overall in zip_results_pos_overall %}
                                    <tr>
                                        <td class="text-muted text-center">{{category}}</td>
                                        <td class="text-muted text-center">{{pre_overall}}</td>
                                        <td class="text-muted text-center">{{new_overall}}</td>
                                    </tr>
                                    {% endfor %}
                                 </tbody>
                              </table>
                         </div>
                     </div>
                    </div>

                    <!--Performance-->
                    <div class="col-lg-3">
                        <div class="card card-margin_bottom">
                            <h6 class="header-pretitle-card">Overview</h6>
                            <h4 class="card-header-overview"><b>Performance (%)</b></h4>
                            <div class="card-body">
                                <table class="table table-hover ">
                                    <thead>
                                        <tr>
                                            <th class="text-muted text-center" scope="col"></th>
                                            <th class="text-muted text-center" scope="col">Weekly</th>
                                            <th class="text-muted text-center" scope="col">YTD</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                            {% for category, weekly, ytd in zip_results_perf_overall %}
                            <tr>
                                <td class="text-muted text-center">{{category}}</td>

                                {% if weekly > 0 %}
                                    <td class="text-center" style="color:rgb(0, 128, 0);">{{weekly}}</td>
                                {% else %}
                                    <td class="text-center" style="color:rgb(255, 0, 0);">{{weekly}}</td>
                                {% endif %}

                                {% if ytd > 0 %}
                                    <td class="text-center" style="color:rgb(0, 128, 0);">{{ytd}}</td>
                                {% else %}
                                    <td class="text-center" style="color:rgb(255, 0, 0);">{{ytd}}</td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                         </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Positions and Performance Tables-->
                <div class="row row-tables-positions">
                    <!--Positions-->
                    <div class="col-lg-8">
                        <div class="card card-margin_bottom">
                            <h4 class="card-header"><b>Positions</b></h4>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <button type="button" class="btn btn-white card-header" id="export-btn"><span class="badge badge-soft-secondary">save implemented weight</span></button>
                                    <div id="table" class="table-editable">
                                        <table class="table table-editable table-hover" id="table_positions">
                                        <thead>
                                            <tr>
                                                <th class="text-muted text-center" scope="col">Category</th>
                                                <th class="text-muted text-center" scope="col">Asset</th>
                                                <th class="text-muted text-center" scope="col">Mom Signals</th>
                                                <th class="text-muted text-center" scope="col">Previous (%)</th>
                                                <th class="text-muted text-center" scope="col">New (%)</th>
                                                <th class="text-muted text-center" scope="col">Delta (%)</th>
                                                <th class="text-muted text-center" scope="col">Trade</th>
                                                <th class="text-muted text-center" scope="col">Size</th>
                                                <th class="text-muted text-center" scope="col">Implemented</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for category, name, mom, prev_pos, new_pos, delta, trade, size, imp_weight in zip_results_pos %}
                                                <tr>
                                                    <td class="text-muted text-center">{{category}}</td>
                                                    <td class="text-muted text-center">{{name}}</td>
                                                    <td class="text-muted text-center">{{mom}}</td>
                                                    <td class="text-muted text-center">{{prev_pos}}</td>
                                                    <td class="text-muted text-center">{{new_pos}}</td>
                                                    {% if delta > 0 %}
                                                        <td class="text-center" style="color:rgb(0, 128, 0);">{{delta}}</td>
                                                    {% else %}
                                                        <td class="text-center" style="color:rgb(255, 0, 0);">{{delta}}</td>
                                                    {% endif %}
                                                    {% if trade == 'BUY' %}
                                                        <td class="text-center" style="color:rgb(0, 128, 0);">{{trade}}</td>
                                                    {% else %}
                                                        <td class="text-center" style="color:rgb(255, 0, 0);">{{trade}}</td>
                                                    {% endif %}
                                                    {% if size > 0 %}
                                                        <td class="text-center" style="color:rgb(0, 128, 0);">{{size}}</td>
                                                    {% else %}
                                                        <td class="text-center" style="color:rgb(255, 0, 0);">{{size}}</td>
                                                    {% endif %}
                                                    <td class="text-muted text-center" contenteditable="true">{{imp_weight}}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script src="{{ url_for('static', filename='js/times/implemented_weight.js') }}"></script>

                    <!--Performance-->
                    <div class="col-lg-4">
                        <div class="card card-margin_bottom">
                            <h4 class="card-header"><b>Performance (%)</b></h4>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-performance">
                                        <thead>
                                            <tr>
                                                <th class="text-muted text-center" scope="col">Weekly </th>
                                                <th class="text-muted text-center" scope="col">YTD</th>
                                                <th class="text-muted text-center" scope="col">Asset</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                {% for names_assets, weekly, ytd in zip_results_perf %}
                                <tr>
                                    <td class="text-center text-muted">{{names_assets}}</td>
                                    {% if weekly > 0 %}
                                        <td class="text-center" style="color:rgb(0, 128, 0);">{{weekly}}</td>
                                    {% else %}
                                        <td class="text-center" style="color:rgb(255, 0, 0);">{{weekly}}</td>
                                    {% endif %}

                                    {% if ytd > 0 %}
                                        <td class="text-center" style="color:rgb(0, 128, 0);">{{ytd}}</td>
                                    {% else %}
                                        <td class="text-center" style="color:rgb(255, 0, 0);">{{ytd}}</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                             </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Asset Allocation chart-->
                <div class="row row-asset-alloc-chart">
                    <div class="col-lg-12">
                        <div class="card">
                            <h4 class="card-header"><b>Asset allocation over time</b></h4>
                            <div class="card-body">

                                <form class="center" action="{{ url_for('times_charts_dashboard', fund_name=fund_strategy['fund'], strategy_version=fund_strategy['strategy_version'], date_to=fund_strategy['date_to']) }}" method="POST" novalidate>
                                    <div class="btn-group">
                                        <!--Start date-->
                                        <input id="start_date_box_times" name="start_date_box_times" class="form-control form-models-select-times rounded-lg" value="Start date" required>
                                            <script type="text/javascript">
                                                $('#start_date_box_times').datepicker({
                                                    uiLibrary: 'bootstrap',
                                                     todayHighlight: true,
                                                     autoclose: true,
                                                     format: 'dd/mm/yyyy'
                                                });
                                            </script>
                                        <!--End date-->
                                        <input id="end_date_box_times" name="end_date_box_times" class="form-control form-models-select-times rounded-lg" value="End date" required>
                                            <script type="text/javascript">
                                            $('#end_date_box_times').datepicker({
                                                uiLibrary: 'bootstrap',
                                                 todayHighlight: true,
                                                 autoclose: true,
                                                 format: 'dd/mm/yyyy'
                                            });
                                        </script>
                                    <!--Submit button-->
                                        <form action="{{ url_for('times_charts_dashboard', fund_name=fund_strategy['fund'], strategy_version=fund_strategy['strategy_version'], date_to=fund_strategy['date_to']) }}" method="POST" novalidate>
                                            {{form.submit_ok_positions(class="form-control", id="submit_ok_positions")}}
                                        </form>
                                    <!--Download button-->
                                    <button class="btn btn-outline-light icon-download" type="submit" name="submit_button" value="assets_positions"><img width="40px" height="auto" src="{{ url_for('static', filename='img/icon_download_cloud_two.png') }}" alt="Icon download"></button>
                                </div>
                            </form>
                                <div id="asset_allocation_over_time" class="responsive-plot"></div>
                                <script type="text/javascript" src="{{ url_for('static', filename='js/times/line_chart_asset_allocation_over_time_times.js') }}"></script>
                                <script type="text/javascript">
                                    assetAllocationChart({{positions|tojson}}, {{dates_pos_alloc|tojson}}, {{assets_names|tojson}})
                                </script>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Sparklines charts-->
                <div class="row row-positions-assets-charts">

                    {% for position_key, position_value in position_1y_per_asset.items() %}

                        <div class="col-sm-3 cards-positions-sparklines-charts">
                            <div class="card card-margin_bottom" style="height:200px;">
                                <h4 class="card-header"><b>{{position_key}}</b></h4>
                                <div class="card-body">
                                    <div id="{{position_value[0]}}" class="responsive-plot"></div>
                                    <script type="text/javascript">

                                    SPARKLINES_ASSETS_ONE = document.getElementById('{{position_value[0]}}');

                                    var trace1 = {fill: 'tozeroy',
                                                  line: {color: 'rgb(33, 89, 103)', width: 1},
                                                  fillcolor: 'rgb(33, 89, 103)',
                                                  mode: 'lines',
                                                  name: 'US Equities',
                                                  type: 'scatter',
                                                  y: {{position_value[1]|tojson}}
                                    };

                                    var data = [trace1];

                                    var config = {'displayModeBar': false, 'responsive': true};

                                    var layout = {margin: {b:0, t:0, l:0, r:0},
                                                  height: 100,
                                      xaxis: {
                                        autorange: true,
                                        showgrid: false,
                                        zeroline: false,
                                        showline: false,
                                        autotick: true,
                                        ticks: '',
                                        showticklabels: false
                                      },
                                      yaxis: {
                                        autorange: true,
                                        showgrid: false,
                                        zeroline: false,
                                        showline: false,
                                        autotick: true,
                                        ticks: '',
                                        showticklabels: false
                                      }
                                    };
                                    Plotly.newPlot(SPARKLINES_ASSETS_ONE, data, layout, config);

                                    </script>
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                </div>

                <!--Performance bar charts-->
                <div class="row row-positions-assets-charts">
                    <!--Weekly Performance-->
                    <div class="col-lg-6">
                        <div class="card card-margin_bottom">
                            <h4 class="card-header"><b>Weekly performance</b></h4>
                            <div class="card-body">
                                <div id="weekly_performance" class="responsive-plot"></div>
                                <script type="text/javascript" src="{{ url_for('static', filename='js/times/horizontal_bar_chart_weekly_performance.js') }}"></script>
                                <script type="text/javascript">
                                    weeklyPerformanceChart({{weekly_performance_all_currencies|tojson}}, {{assets_names|tojson}})
                                </script>
                            </div>
                        </div>
                    </div>
                    <!--YTD Performance-->
                    <div class="col-lg-6">
                        <div class="card card-margin_bottom">
                            <h4 class="card-header"><b>Year-to-Date performance</b></h4>
                            <div class="card-body">
                                <div id="ytd_performance" class="responsive-plot"></div>
                                <script type="text/javascript" src="{{ url_for('static', filename='js/times/horizontal_bar_chart_ytd_performance.js') }}"></script>
                                <script type="text/javascript">
                                    ytdPerformanceChart({{ytd_performance_all_currencies|tojson}}, {{assets_names|tojson}})
                                </script>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Positions bar charts -->
               <div class="row row-positions-assets-charts">
                   <!--Previous Positions-->
                   <div class="col-lg-6">
                       <div class="card card-margin_bottom">
                           <h4 class="card-header"><b>Previous positions</b></h4>
                           <div class="card-body">
                               <div id="previous_positions" class="responsive-plot"></div>
                               <script type="text/javascript" src="{{ url_for('static', filename='js/times/horizontal_bar_chart_previous_positions.js') }}"></script>
                                <script type="text/javascript">
                                    previousPositionsChart({{prev_positions|tojson}}, {{assets_names|tojson}})
                                </script>
                           </div>
                       </div>
                   </div>
                   <!--New Positions-->
                   <div class="col-lg-6">
                       <div class="card card-margin_bottom">
                           <h4 class="card-header"><b>New positions</b></h4>
                           <div class="card-body">
                               <div id="new_positions" class="responsive-plot"></div>
                               <script type="text/javascript" src="{{ url_for('static', filename='js/times/horizontal_bar_chart_new_positions.js') }}"></script>
                                <script type="text/javascript">
                                    newPositionsChart({{new_positions|tojson}}, {{assets_names|tojson}})
                                </script>
                           </div>
                       </div>
                   </div>
               </div>

                <div class="row row-positions-assets-charts">
                    <!--Mom signals-->
                    <div class="col-lg-12">
                       <div class="card card-margin_bottom">
                           <h4 class="card-header"><b>Mom signals positions</b></h4>
                           <div class="card-body">

                               <div id="mom_signals" class="responsive-plot"></div>
                               <script type="text/javascript" src="{{url_for('static', filename='js/times/horizontal_bar_chart_mom_signals.js')}}"></script>
                               <script type="text/javascript">
                                    momSignalsChart({{mom_signals|tojson}}, {{assets_names|tojson}})
                                </script>
                           </div>
                       </div>
                    </div>
                </div>

                <!--Positions assets charts-->
                <div class="row row-positions-assets-charts">

                    {% for id_key, id_value in titles_ids.items() %}

                        <div class="col-lg-4">
                            <div class="card card-margin_bottom">
                                <h4 class="card-header"><b>{{id_key}}</b></h4>
                                <div class="card-body">
                                    <div id="{{id_key}}" class="responsive-plot"></div>

                                    <script type="text/javascript">
                                        POSITIONS_ASSETS = document.getElementById('{{id_key}}');

                                        var trace1 = {y: {{id_value[0]|tojson}},
                                                      x: {{id_value[3]|tojson}},
                                                      type: 'scatter',
                                                      name: '{{id_key}}'
                                                      };

                                         var trace2 = {y: {{id_value[1]|tojson}},
                                                       x: {{id_value[3]|tojson}},
                                                       type: 'scatter',
                                                       name: '5th percentile',
                                                       line: {dash: 'dot', width: 4, color: '#87CEFA'}
                                                       };

                                         var trace3 = {y: {{id_value[2]|tojson}},
                                                       x: {{id_value[3]|tojson}},
                                                       type: 'scatter',
                                                       name: '95th percentile',
                                                       line: {dash: 'dot', width: 4, color: '#87CEFA'}
                                                       };

                                        var data = [trace1, trace2, trace3];

                                        var layout = {showlegend: false,
                                                      legend: { xanchor: 'center', x: 0.5, y: -0.2, orientation: 'h' },
                                                      yaxis: {tickformat: ',.3%'},
                                                      margin: {t:5}
                                                      };

                                        var config = {'displayModeBar': false, 'responsive': true };

                                        Plotly.plot(POSITIONS_ASSETS, data, layout, config);

                                    </script>
                                </div>
                            </div>
                        </div>

                     {% endfor %}

                 </div>
            </div>
        </div>
    </body>
</html>