<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ag-grid/23.2.1/ag-grid-community.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ag-grid/23.2.1/styles/ag-grid.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ag-grid/23.2.1/styles/ag-theme-bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ag-grid/23.2.1/styles/ag-theme-balham.min.css">

        <!--Calendar import-->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <!-- Bootstrap Date-Picker Plugin -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>


        <script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>



        <link rel="stylesheet" href="static/css/times_dashboard.css">

        <style>






    </style>


    </head>

    <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top navbar-default py-lg-0 ">
        <button class="navbar-toggler" type="button"
                    data-toggle="collapse"
                    data-target="#navbarResponsive"
                    aria-controls="navbarResponsive"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="mailto:NexusQuantDev@lgim.com" target=""><b>Support</b></a></li>
            </ul>
        </div>
    </nav>

    <div class="sidenav">
        <a href="{{url_for('home')}}"><img alt="Legal and General" width="90px;" height="auto" src="https://www.legalandgeneral.com/web_resources/landscape/images/landg-logo.svg"></a>

        <a class="sidenav-home" href="{{url_for('home')}}">Home</a>

        <!-- ============================= CHARTS DATA ============================= -->
        <a class="sidenav-item" href="#">Charts Data</a>
        <form>
            <!-- Fund name -->
            <label class="label-models-date-sidebar">Step <b>1</b>: select a fund</label>
            <select class="form-control selectFund" id="send_data_fund_from_sidebar" onchange='sideBarFund()'>
                {% for f in fund_list %}
                    <option value="" selected disabled>Fund</option>
                    <option>{{f}}</option>
                {% endfor %}
            </select>

            <label class="label-models-date-sidebar">Step <b>2</b>: select a version</label>
            <select class="form-control selectFund" id="send_data_version_from_sidebar" onchange='sideBarVersion()'>
                {% for v in versions_list %}
                    <option value="" selected disabled>Version</option>
                    <option>{{v}}</option>
                {% endfor %}
            </select>
        </form>
        <script src="static/js/form_dashboard_times.js"></script>

        <!-- ============================= EXPORT DATA ============================= -->
        <a class="sidenav-item" href="#">Export Data</a>
        <form>
            <!-- Fund name -->
            <label class="label-models-date-sidebar">Step <b>1</b>: select a fund</label>
            <select class="form-control selectFund" id="send_data_fund_export_from_sidebar" onchange='sideBarExportFund()'>
                {% for f in fund_list %}
                    <option value="" selected disabled>Fund</option>
                    <option>{{f}}</option>
                {% endfor %}
            </select>

            <label class="label-models-date-sidebar">Step <b>2</b>: select a version</label>
            <select class="form-control selectFund" id="send_data_version_export_from_sidebar" onchange='sideBarExportVersion()'>
                {% for v in versions_list %}
                    <option value="" selected disabled>Version</option>
                    <option>{{v}}</option>
                {% endfor %}
            </select>

            {% if export_data_sidebar == 'export_data_sidebar' %}
                {% include 'pop_up_success_save_domino.html' %}
            {% endif %}

        </form>
        <script src="static/js/form_dashboard_times.js"></script>
    </div>

    <!-- ============================= CHARTS AREA ============================= -->
    <div class="container-fluid">
        <div class="header-body">
            <h6 class="header-pretitle">Overview</h6>
            <h2 class="title-dashboard"><b>TIMES Dashboard</b></h2>
        </div>
        <h7 class="sub-title-dashboard"><i>Fund name: {{fund_strategy['fund']}} Strategy version: {{fund_strategy['strategy']}}</i></h7><br>
        <h7 class="sub-title-dashboard"><i>Date run: </i></h7>

        <!--Asset Allocation chart-->
        <div class="row row-asset-alloc-chart">
            <div class="col-lg-12">
                <div class="card">
                    <h4 class="card-header"><b>Asset allocation over time</b></h4>
                    <div class="card-body">
                        <form class="center" action="{{url_for('times_dashboard')}}" method="POST" novalidate>
                            <div class="btn-group">
                                <!--Start date-->
                                <input id="start_date_box_times" name="start_date_box_times" class="form-control form-models-select-times rounded-lg" value="Start date" required>
                                    <script type="text/javascript">
                                        $('#start_date_box_times').datepicker({
                                            uiLibrary: 'bootstrap',
                                             todayHighlight: true,
                                             autoclose: true,
                                             format: 'dd/mm/yyyy'
                                        });
                                    </script>
                                <!--End date-->
                                <input id="end_date_box_times" name="end_date_box_times" class="form-control form-models-select-times rounded-lg" value="End date" required>
                                    <script type="text/javascript">
                                        $('#end_date_box_times').datepicker({
                                            uiLibrary: 'bootstrap',
                                             todayHighlight: true,
                                             autoclose: true,
                                             format: 'dd/mm/yyyy'
                                        });
                                    </script>
                                <!--Submit button-->
                                {{form.submit_ok_positions(class="form-control", id="submit_ok_positions")}}
                                <!--Download button-->
                                <button class="btn btn-outline-light icon-download" type="submit" name="submit_button" value="assets_positions"><img width="40px" height="auto" src="static/img/icon_download_cloud_two.png" alt="Icon download"></button>
                            </div>
                        </form>
                        <div id="asset_allocation_over_time" class="responsive-plot"></div>
                        <script type="text/javascript" src="{{ url_for('static', filename='js/times/line_chart_asset_allocation_over_time_times.js') }}"></script>
                        <script type="text/javascript">
                            assetAllocationChart({{positions|tojson}}, {{dates_pos|tojson}}, {{names_pos|tojson}})
                        </script>
                    </div>
                </div>
            </div>
        </div>


        <!--Positions and Performance Tables (overall)-->
        <div class="row row-table-overall">
            <!--Positions-->
            <div class="col-lg-9">
                 <div class="card">
                     <h6 class="header-pretitle-card">Overview</h6>
                     <h4 class="card-header-overview"><b>Positions (%)</b></h4>
                     <div class="card-body">
                         <table class="table table-hover">
                              <thead>
                                <tr>
                                    <th class="text-muted text-center" scope="col">Signal as off <i class="signal-as-off-date">{{signal_as_off}}</i></th>
                                    <th class="text-muted text-center" scope="col">Previous</th>
                                    <th class="text-muted text-center" scope="col">New</th>
                                </tr>
                              </thead>

                             <tbody>
                                {% for category, pre_overall, new_overall in zip_results_pos_overall %}
                                <tr>
                                    <td class="text-muted text-center">{{category}}</td>
                                    <td class="text-muted text-center">{{pre_overall}}</td>
                                    <td class="text-muted text-center">{{new_overall}}</td>
                                </tr>
                                {% endfor %}
                             </tbody>
                          </table>
                     </div>
                 </div>
            </div>
            <!--Performance-->
            <div class="col-lg-3">
                <div class="card">
                    <h6 class="header-pretitle-card">Overview</h6>
                    <h4 class="card-header-overview"><b>Performance (%)</b></h4>
                    <div class="card-body">
                        <table class="table table-hover ">
                     <thead>
                        <tr>
                            <th class="text-muted text-center" scope="col">Weekly</th>
                            <th class="text-muted text-center" scope="col">YTD</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for weekly, ytd in zip_results_perf_overall %}
                        <tr>
                            <td class="text-muted text-center">{{weekly}}</td>
                            <td class="text-muted text-center">{{ytd}}</td>
                        </tr>
                        {% endfor %}
                     </tbody>
                 </table>
                    </div>
                </div>
            </div>
        </div>

        <!--Positions and Performance Tables-->
        <div class="row row-tables-positions">
            <!--Positions-->
            <div class="col-lg-9">
                <div class="card">
                    <h4 class="card-header"><b>Positions</b></h4>
                    <div class="card-body">
                        <table class="table table-editable table-hover" id="table_positions">
                            <thead>
                                <tr>
                                    <th class="text-muted text-center" scope="col">Category</th>
                                    <th class="text-muted text-center" scope="col">Asset</th>
                                    <th class="text-muted text-center" scope="col">Mom Signals</th>
                                    <th class="text-muted text-center" scope="col">Previous (%)</th>
                                    <th class="text-muted text-center" scope="col">New (%)</th>
                                    <th class="text-muted text-center" scope="col">Delta (%)</th>
                                    <th class="text-muted text-center" scope="col">Trade</th>
                                    <th class="text-muted text-center" scope="col">Size</th>
                                    <th class="text-muted text-center" scope="col" data-field="weight"><button type="button" class="btn btn-sm btn-white text-muted" onclick="hello()"><b>Weight</b></button></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for category, name, mom, prev_pos, new_pos, delta, trade, size, imp_weight in zip_results_pos %}
                                    <tr>
                                        <td class="text-muted text-center">{{category}}</td>
                                        <td class="text-muted text-center">{{name}}</td>
                                        <td class="text-muted text-center">{{mom}}</td>
                                        <td class="text-muted text-center">{{prev_pos}}</td>
                                        <td class="text-muted text-center">{{new_pos}}</td>
                                        {% if delta > 0 %}
                                            <td class="text-center" style="color:rgb(0, 128, 0);">{{delta}}</td>
                                        {% else %}
                                            <td class="text-center" style="color:rgb(255, 0, 0);">{{delta}}</td>
                                        {% endif %}
                                        {% if trade == 'BUY' %}
                                            <td class="text-center" style="color:rgb(0, 128, 0);">{{trade}}</td>
                                        {% else %}
                                            <td class="text-center" style="color:rgb(255, 0, 0);">{{trade}}</td>
                                        {% endif %}
                                        {% if size > 0 %}
                                            <td class="text-center" style="color:rgb(0, 128, 0);">{{size}}</td>
                                        {% else %}
                                            <td class="text-center" style="color:rgb(255, 0, 0);">{{size}}</td>
                                        {% endif %}
                                        <td class="text-muted text-center" contenteditable="true">

                                            <input id="implemented_weight" value={{imp_weight}} name="implemented_weight" class="form-control form-models-select-times" placeholder="Strategy weight" required>


                                        </td>
                                    </tr>
                                     <script src="static/js/times/implemented_weight.js"></script>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--Performance-->
            <div class="col-lg-3">
                <div class="card">
                    <h4 class="card-header"><b>Performance (%)</b></h4>
                    <div class="card-body">
                        <table class="table table-hover">
                     <thead>
                        <tr>
                            <th class="text-muted text-center" scope="col">Weekly </th>
                            <th class="text-muted text-center" scope="col">YTD</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for weekly, ytd in zip_results_perf %}
                        <tr>
                            <td class="text-muted text-center">{{weekly}}</td>
                            <td class="text-muted text-center">{{ytd}}</td>
                        </tr>
                        {% endfor %}
                     </tbody>
                 </table>
                    </div>
                </div>
            </div>
        </div>


        <!--Performance bar charts-->
        <div class="row row-positions-assets-charts">
            <!--Weekly Performance-->
            <div class="col-lg-6">
                <div class="card">
                    <h4 class="card-header"><b>Weekly performance</b></h4>
                    <div class="card-body">
                        <div id="weekly_performance" class="responsive-plot"></div>
                        <script type="text/javascript" src="{{ url_for('static', filename='js/times/horizontal_bar_chart_weekly_performance.js') }}"></script>
                        <script type="text/javascript">
                            weeklyPerformanceChart({{weekly_performance_all_currencies|tojson}}, {{assets_names|tojson}})
                        </script>
                    </div>
                </div>
            </div>
            <!--YTD Performance-->
            <div class="col-lg-6">
                 <div class="card">
                     <h4 class="card-header"><b>Year-to-Date performance</b></h4>
                      <div class="card-body">
                          <div id="ytd_performance" class="responsive-plot"></div>
                          <script type="text/javascript" src="{{ url_for('static', filename='js/times/horizontal_bar_chart_ytd_performance.js') }}"></script>
                          <script type="text/javascript">
                            ytdPerformanceChart({{ytd_performance_all_currencies|tojson}}, {{assets_names|tojson}})
                          </script>
                      </div>
                 </div>
            </div>
        </div>


        <!-- Positions bar charts -->
        <div class="row row-positions-assets-charts">
            <!--Mom signals-->
            <div class="col-lg-4">
                 <div class="card">
                     <h4 class="card-header"><b>Mom signals positions</b></h4>
                     <div class="card-body">
                        <div id="mom_signals" class="responsive-plot"></div>
                        <script type="text/javascript" src="{{ url_for('static', filename='js/times/horizontal_bar_chart_mom_signals.js') }}"></script>
                        <script type="text/javascript">
                            momSignalsChart({{mom_signals|tojson}}, {{assets_names|tojson}})
                        </script>
                     </div>
                 </div>
            </div>
            <!--Previous Positions-->
            <div class="col-lg-4">
                <div class="card">
                    <h4 class="card-header"><b>Previous positions</b></h4>
                    <div class="card-body">
                        <div id="previous_positions" class="responsive-plot"></div>
                        <script type="text/javascript" src="{{ url_for('static', filename='js/times/horizontal_bar_chart_previous_positions.js') }}"></script>
                        <script type="text/javascript">
                            previousPositionsChart({{prev_positions|tojson}}, {{assets_names|tojson}})
                        </script>
                    </div>
                </div>
            </div>
            <!--New Positions-->
            <div class="col-lg-4">
                <div class="card">
                    <h4 class="card-header"><b>New positions</b></h4>
                    <div class="card-body">
                        <div id="new_positions" class="responsive-plot"></div>
                        <script type="text/javascript" src="{{ url_for('static', filename='js/times/horizontal_bar_chart_new_positions.js') }}"></script>
                        <script type="text/javascript">
                            newPositionsChart({{new_positions|tojson}}, {{assets_names|tojson}})
                        </script>
                    </div>
                </div>
            </div>
        </div>

        <!--Positions assets charts-->
        <div class="row row-positions-assets-charts">
            <!--Equities-->
            <div class="col-lg-4">
                 <div class="card">
                      <h4 class="card-header"><b>Equities</b></h4>
                      <div class="card-body">
                          <div id="positions_equities" class="responsive-plot"></div>
                          <script type="text/javascript" src="{{ url_for('static', filename='js/times/line_chart_positions_equities.js') }}"></script>
                          <script type="text/javascript">
                            positionsEquities({{positions_assets_sum['equities_pos_sum']|tojson}},
                                              {{equities_fifth_percentile|tojson}},
                                              {{equities_ninety_five_percentile|tojson}},
                                              {{positions_assets_sum['dates_positions_assets']|tojson}})
                          </script>
                      </div>
                 </div>
            </div>
            <!--Bonds-->
            <div class="col-lg-4">
                <div class="card">
                    <h4 class="card-header"><b>Bonds</b></h4>
                    <div class="card-body">
                        <div id="positions_bonds" class="responsive-plot"></div>
                        <script type="text/javascript" src="{{ url_for('static', filename='js/times/line_chart_positions_bonds.js') }}"></script>
                        <script type="text/javascript">
                            positionsBonds({{positions_assets_sum['bonds_pos_sum']|tojson}},
                                           {{bonds_fifth_percentile|tojson}},
                                           {{bonds_ninety_five_percentile|tojson}},
                                           {{positions_assets_sum['dates_positions_assets']|tojson}})
                        </script>
                    </div>
                </div>
            </div>
            <!--Forex-->
            <div class="col-lg-4">
                <div class="card">
                    <h4 class="card-header"><b>Forex</b></h4>
                    <div class="card-body">
                        <div id="positions_forex" class="responsive-plot"></div>
                        <script type="text/javascript" src="{{ url_for('static', filename='js/times/line_chart_positions_forex.js') }}"></script>
                        <script type="text/javascript">
                            positionsForex({{positions_assets_sum['forex_pos_sum']|tojson}},
                                           {{forex_fifth_percentile|tojson}},
                                           {{forex_ninety_five_percentile|tojson}},
                                           {{positions_assets_sum['dates_positions_assets']|tojson}})
                        </script>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>