{% extends "base.html" %}

<html>
    <head>
        <title>{{ title }}</title>
    </head>

<body>
    {% block timespage %}
        <div class="container">
            <!--Title-->
            <div class="row">
                <h1 class="title-page-model"></h1>
            </div>

            <div class="row row-model">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="card card-custom-wide">
                        <img src="static/img/color-background.PNG" height="150px"/>
                        <div class="card-body">
                            <h4 class="card-title">TIMES Strategy</h4>
                            <form class="center" action="{{url_for('times_strategy')}}" method="POST" novalidate>
                                <!--Select a fund-->
                                <center>
                                    <label class="header-pretitle-card"><b>1. Select a fund</b></label><br>
                                    <select class="form-control select-form-fund text-center" id="select-fund-from-strategy-page">
                                        <option disabled selected value>fund</option>
                                        {% for f in existing_funds %}
                                            <option>{{f}}</option>
                                        {% endfor %}
                                    </select>
                                </center>

                                <!--Choose a weight for the fund-->
                                 <center>
                                     <label class="header-pretitle-card"><b>2. Choose a weight for the fund</b></label><br>
                                     <input type="text" class="form-control input-weight-fund-form text-center" id="input_weight_fund_strategy" placeholder="fund weight">
                                 </center>

                                <!--Select a version -->
                                <!--New version-->
                                <center>
                                    <label class="header-pretitle-version-card"><b>3. Select a version</b></label>
                                    <p class="select-fund-choice">In this section, you have the possibility to
                                        <u>create a new version of a strategy</u> <br><b>OR</b> to <u>run an existing version</u></p>

                                     <div class="row-border-top border-top"></div>


                                    <h6 class="subtitle-strategy">Create a new version of the strategy</h6>
                                    <a href="#"><button  type="submit" name="submit_button" value="new-version" class="btn-sm btn-new-version">Create a new version</button></a>
                                </center>

                                <!--Existing version-->
                                <div class="row-border-top border-top"></div>

                                <center>
                                    <h6 class="subtitle-strategy">Select an existing version of the strategy</h6>
                                    <div class="btn-group-vertical">
                                        <select class="form-control select-form-version" id="select-version-from-strategy-page">
                                            <option disabled selected value>version</option>
                                            {% for v in versions_list %}
                                                <option>{{v}}</option>
                                            {% endfor %}
                                        </select>

                                        <!--Date to-->
                                        <select class="form-control select-form-date-to" id="select-date-to-strategy-page">
                                            <option disabled selected value>date to</option>
                                            {% for d in existing_date_to %}
                                                <option>{{d}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </center>
                       </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3"></div>
            </div>
            <script src="static/js/form_strategy_page_times.js"></script>


            {% if run_model_page == 'run_new_version' %}
        <script>
            var faqs_row = 0;
function addfaqs() {
html = '<tr id="faqs-row' + faqs_row + '">';
    html += '<td><input type="text" class="form-control form-control-assets-table text-center" placeholder="asset"></td>';
    html += '<td><input type="text" class="form-control form-control-assets-table text-center" placeholder="category" ></td>';
    html += '<td><input type="text" class="form-control form-control-assets-table text-center" placeholder="signal ticker"></td>';
    html += '<td><input type="text" class="form-control form-control-assets-table text-center" placeholder="future ticker"></td>';
    html += '<td><input type="text" class="form-control form-control-assets-table text-center" placeholder="costs"></td>';
    html += '<td><input type="text" class="form-control form-control-assets-table text-center" placeholder="leverage"></td>';
    html += '<td class="mt-10"><button class="btn-sm btn-delete-assets-existing-version" onclick="$(\'#faqs-row' + faqs_row + '\').remove();"><i class="fa fa-trash"></i> Delete</button></td>';

    html += '</tr>';

$('#faqs tbody').append(html);

faqs_row++;
}



</script>

            <div class="row row-model">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="card card-custom-wide">
                        <img src="static/img/color-background.PNG" height="70px"/>
                        <div class="card-body">
                            <center>
                                <h4 class="card-title-label">Create a new version of the strategy for {{fund_selected}}</h4>
                                <div class="btn-group version-name-form-btn-group">
                                    <label class="header-pretitle-version-name">Enter a version name</label>
                                    <input type="text" class="form-control input-version-name-form text-center" id="input_version_name_strategy" name="input_version_name_strategy" placeholder="Version name">
                                </div>
                            </center>

                            <h4 class="card-title-version_form">Model assets</h4>

                                <div class="table-responsive">
                                    <table id="faqs" class="table table-assets-existing-version">
                                        <thead>
                                        <tr>
                                        <th class="text-center">Asset</th>
                                        <th class="text-center">Category</th>
                                        <th class="text-center">Signal ticker</th>
                                        <th class="text-center">Future ticker</th>
                                        <th class="text-center">Costs</th>
                                        <th class="text-center">Leverage</th>
                                        <th></th>
                                    </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="rowUpdate">
                                            <td><input type="text" class="form-control form-control-assets-table text-center" id="input_asset_from_times" name="input_asset_from_times" placeholder="asset" value="DM FX"></td>
                                            <td><input type="text" class="form-control form-control-assets-table text-center" id="input_category_from_times" name="input_category_from_times" placeholder="category" value="FX"></td>
                                            <td><input type="text" class="form-control form-control-assets-table text-center" id="input_signal_ticker_from_times" name="input_signal_ticker_from_times" placeholder="signal ticker" value="SPXT Index"></td>
                                            <td><input type="text" class="form-control form-control-assets-table text-center" id="input_future_ticker_from_times" name="input_future_ticker_from_times" placeholder="future ticker" value="CD1 A:00_0_R Curncy"></td>
                                            <td><input type="text" class="form-control form-control-assets-table text-center" id="input_costs_from_times" name="input_costs_from_times" placeholder="costs" value="0.0002"></td>
                                            <td><input type="text" class="form-control form-control-assets-table text-center" id="input_leverage_from_times" name="input_leverage_from_times" placeholder="leverage" value="1"></td>
                                            <td class="mt-10"></td>
                                        </tr>

                                        <tr class="rowUpdate">
                                            <td><input type="text" class="form-control form-control-assets-table text-center" id="input_asset_from_times" name="input_asset_from_times" placeholder="asset" value="DM Equity"></td>
                                            <td><input type="text" class="form-control form-control-assets-table text-center" id="input_category_from_times" name="input_category_from_times" placeholder="category" value="Equities"></td>
                                            <td><input type="text" class="form-control form-control-assets-table text-center" id="input_signal_ticker_from_times" name="input_signal_ticker_from_times" placeholder="signal ticker" value="TPXDDVD Index"></td>
                                            <td><input type="text" class="form-control form-control-assets-table text-center" id="input_future_ticker_from_times" name="input_future_ticker_from_times" placeholder="future ticker" value="SPXT Index"></td>
                                            <td><input type="text" class="form-control form-control-assets-table text-center" id="input_costs_from_times" name="input_costs_from_times" placeholder="costs" value="0.0002"></td>
                                            <td><input type="text" class="form-control form-control-assets-table text-center" id="input_leverage_from_times" name="input_leverage_from_times" placeholder="leverage" value="1"></td>
                                            <td class="mt-10"></td>
                                        </tr>

                                        <tr class="rowUpdate">
                                            <td><input type="text" class="form-control form-control-assets-table text-center" id="input_asset_from_times" name="input_asset_from_times" placeholder="asset" value="Nominal Bond"></td>
                                            <td><input type="text" class="form-control form-control-assets-table text-center" id="input_category_from_times" name="input_category_from_times" placeholder="category" value="Fixed Income"></td>
                                            <td><input type="text" class="form-control form-control-assets-table text-center" id="input_signal_ticker_from_times" name="input_signal_ticker_from_times" placeholder="signal ticker" value="G 1 A:00_0_R Comdty"></td>
                                            <td><input type="text" class="form-control form-control-assets-table text-center" id="input_future_ticker_from_times" name="input_future_ticker_from_times" placeholder="future ticker" value="CN1 A:00_0_R Comdty"></td>
                                            <td><input type="text" class="form-control form-control-assets-table text-center" id="input_costs_from_times" name="input_costs_from_times" placeholder="costs" value="0.0002"></td>
                                            <td><input type="text" class="form-control form-control-assets-table text-center" id="input_leverage_from_times" name="input_leverage_from_times" placeholder="leverage" value="1"></td>
                                            <td class="mt-10"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                                <div class="text-center"><button onclick="addfaqs();" class="btn-sm btn-add-assets-existing-version">Add asset</button></div>



                            <h4 class="second-card-title-version_form">Model inputs</h4>
                            <form class="form-signin" role="form">
                                <div class="row">
                                    <!--Date from-->
                                    <div class="col-lg-6">
                                        <label class="subtitle-model-input">Date from</label>
                                        <input type="text" class="form-control form-models-select-times text-center" id="input_date_from_times" name="input_date_from_times" readonly>
                                        <script type="text/javascript">
                                           document.getElementById('input_date_from_times').value = "01/01/2000"
                                        </script>
                                    </div>
                                    <!--Date to-->
                                    <div class="col-lg-6">
                                        <label class="subtitle-model-input">Date to</label>
                                        <input id="input_date_to_new_version_times" name="input_date_to_new_version_times" class="form-control form-models-select-times rounded-lg text-center" value="13/08/2020" required oninput="selectDateToCalendar()">
                                    </div>
                                </div>

                                <div class="row">
                                    <!--Volatility window-->
                                    <div class="col-lg-6">
                                        <label class="subtitle-model-input">Volatility window</label>
                                        <input type="number" id="input_vol_window_times" name="input_vol_window_times" class="form-control form-models-select-times text-center" placeholder="Volatility window" required>
                                        <script type="text/javascript">
                                            document.getElementById('input_vol_window_times').value = 90;
                                        </script>
                                    </div>
                                    <!--Time lag-->
                                    <div class="col-lg-6">
                                        <label class="subtitle-model-input">Time lag</label>
                                        <input type="number" id="input_time_lag_times" name="input_time_lag_times" class="form-control form-models-select-times text-center" placeholder="Time lag" required>
                                        <script type="text/javascript">
                                              document.getElementById('input_time_lag_times').value = 2;
                                        </script>
                                    </div>
                                </div>

                                <div class="row">
                                    <!--Leverage type-->
                                    <div class="col-lg-6">
                                        <label class="subtitle-model-input">Leverage type</label>
                                          <select id="input_leverage_times" name="input_leverage_times" class="form-control form-models-select-times text-center">
                                              <option>v</option>
                                              <option>e</option>
                                              <option>n</option>
                                              <option>s</option>
                                          </select>
                                    </div>

                                    <!--Frequency-->
                                    <div class="col-lg-6">
                                        <label class="subtitle-model-input">Frequency</label>
                                        <select id="input_frequency_times" name="input_frequency_times" class="form-control form-models-select-times text-center">
                                             <option>weekly</option>
                                             <option>monthly</option>
                                             <option>daily</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <!--Week day-->
                                    <div class="col-lg-6">
                                        <label class="subtitle-model-input">Week day</label>
                                        <input id="input_weekday_times" name="input_weekday_times" class="form-control form-models-select-times rounded-lg text-center" value="THU" readonly>
                                    </div>
                                </div>

                                <div class="row">
                                    <!--Signal1 short-->
                                    <div class="col-lg-6">
                                        <label class="subtitle-model-input">Signal1 short</label>
                                        <input type="number" id="input_signal_one_short_times" name="input_signal_one_short_times" class="form-control form-models-select-times text-center" placeholder="Signal1 short" required>
                                        <script type="text/javascript">
                                            document.getElementById('input_signal_one_short_times').value = 15;
                                        </script>
                                    </div>
                                    <!--Signal1 long-->
                                    <div class="col-lg-6">
                                        <label class="subtitle-model-input">Signal1 long</label>
                                        <input type="number" id="input_signal_one_long_times" name="input_signal_one_long_times" class="form-control form-models-select-times text-center" placeholder="Signal1 long" required>
                                         <script type="text/javascript">
                                            document.getElementById('input_signal_one_long_times').value = 30;
                                         </script>
                                    </div>
                                </div>

                                 <div class="row">
                                     <!--Signal2 short-->
                                     <div class="col-lg-6">
                                         <label class="subtitle-model-input">Signal2 short</label>
                                         <input type="number" id="input_signal_two_short_times" name="input_signal_two_short_times" class="form-control form-models-select-times text-center" placeholder="Signal2 short" required>
                                         <script type="text/javascript">
                                            document.getElementById('input_signal_two_short_times').value = 30;
                                        </script>
                                     </div>

                                     <!--Signal2 long-->
                                     <div class="col-lg-6">
                                         <label class="subtitle-model-input">Signal2 long</label>
                                         <input type="number" id="input_signal_two_long_times" name="input_signal_two_long_times" class="form-control form-models-select-times text-center" placeholder="Signal2 long" required>
                                        <script type="text/javascript">
                                            document.getElementById('input_signal_two_long_times').value = 60;
                                        </script>
                                     </div>
                                 </div>

                                <div class="row">
                                    <!--Signal3 short-->
                                     <div class="col-lg-6">
                                         <label class="subtitle-model-input">Signal3 short</label>
                                         <input type="number" id="input_signal_three_short_times" name="input_signal_three_short_times" class="form-control form-models-select-times text-center" placeholder="Signal3 short" required>
                                         <script type="text/javascript">
                                            document.getElementById('input_signal_three_short_times').value = 60;
                                         </script>
                                     </div>

                                    <!--Signal3 long-->
                                     <div class="col-lg-6">
                                         <label class="subtitle-model-input">Signal3 long</label>
                                         <input type="number" id="input_signal_three_long_times" name="input_signal_three_long_times" class="form-control form-models-select-times text-center" placeholder="Signal3 long" required>
                                         <script type="text/javascript">
                                            document.getElementById('input_signal_three_long_times').value = 120;
                                         </script>
                                     </div>
                                </div>

                                <div class="text-center"><button class="btn-sm btn-run-model-times" type="button" id="contact-form-button-times">Run strategy</button></div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <script src="static/js/form_data_times.js"></script>




























            <!--<div class="row">-->
                <!--<div class="col-lg-12">-->
                    <!--<center>-->
                        <!--<h4 class="title-page-model">Create a new version of the strategy for {{fund_selected}}</h4>-->
                        <!--<label class="header-pretitle-version-name">Enter a version name</label>-->
                        <!--<input type="text" class="form-control version-name-form text-center" id="input_version_name_strategy" placeholder="Version name">-->
                    <!--</center>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="row row-effect-ag-grid"></div>-->
            <!--<h4 class="title-models-ag-grid">Model assets</h4>-->
            <!--<div style="height: 30%; display: flex; flex-direction: column;">-->
                <!--<div style="margin-bottom: 4px;">-->
                    <!--<button class="btn btn-outline-secondary" onclick="onAddRow()">Add Input</button>-->
                    <!--<button class="btn btn-outline-secondary" onclick="onRemoveSelected()">Remove Selected</button>-->
                    <!--<button class="btn btn-outline-secondary" onclick="clearData()">Clear Data</button>-->
                <!--</div>-->
                <!--<div style="flex-grow: 1;">-->
                    <!--<div id="myGrid" style="height: 100%;" class="ag-theme-alpine text-center"></div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="row row-effect-ag-grid-bottom"></div>-->

            <!--<div class="row row-model-inputs">-->
                <!--<div class="col-lg-12">-->
                    <!--<form class="form-signin" role="form">-->
                        <!--<h4 class="title-models-ag-grid">Model inputs</h4>-->
                        <!--<div class="row">-->
                            <!--<div class="col-lg-6">-->
                                 <!--<div class="card">-->
                                     <!--<div class="card-body">-->
                                         <!--<div class="row">-->
                                            <!--<div class="col-lg-6">-->
                                                <!--<div class="btn-group">-->
                                                    <!--&lt;!&ndash;Date from&ndash;&gt;-->
                                                    <!--<div class="form-group">-->
                                                        <!--<label class="subtitle-model-input">Date from</label>-->
                                                        <!--<input type="text" class="form-control form-models-select-times" id="input_date_from_times" name="input_date_from_times" readonly>-->
                                                        <!--<script type="text/javascript">-->
                                                           <!--document.getElementById('input_date_from_times').value = "01/01/2000"-->
                                                        <!--</script>-->
                                                    <!--</div>-->
                                                      <!--&lt;!&ndash;Date to&ndash;&gt;-->
                                                    <!--<div class="form-group">-->
                                                        <!--<label class="subtitle-model-input">Date to</label>-->
                                                        <!--<input id="input_date_to_new_version_times" name="input_date_to_new_version_times" class="form-control form-models-select-times rounded-lg" value="13/08/2020" required oninput="selectDateToCalendar()">-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                                <!--<div class="btn-group">-->
                                                    <!--&lt;!&ndash;Volatility window&ndash;&gt;-->
                                                    <!--<div class="form-group">-->
                                                         <!--<label class="subtitle-model-input">Volatility window</label>-->
                                                         <!--<input type="number" id="input_vol_window_times" name="input_vol_window_times" class="form-control form-models-select-times" placeholder="Volatility window" required>-->
                                                         <!--<script type="text/javascript">-->
                                                            <!--document.getElementById('input_vol_window_times').value = 90;-->
                                                        <!--</script>-->
                                                    <!--</div>-->
                                                    <!--&lt;!&ndash;Time lag&ndash;&gt;-->
                                                    <!--<div class="form-group">-->
                                                        <!--<label class="subtitle-model-input">Time lag</label>-->
                                                        <!--<input type="number" id="input_time_lag_times" name="input_time_lag_times" class="form-control form-models-select-times" placeholder="Time lag" required>-->
                                                        <!--<script type="text/javascript">-->
                                                            <!--document.getElementById('input_time_lag_times').value = 2;-->
                                                        <!--</script>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                         <!--</div>-->
                                         <!--<div class="row">-->
                                             <!--<div class="col-lg-6">-->
                                                 <!--<div class="btn-group">-->
                                                    <!--&lt;!&ndash;Leverage type&ndash;&gt;-->
                                                    <!--<div class="form-group">-->
                                                        <!--<label class="subtitle-model-input">Leverage type</label>-->
                                                        <!--<select id="input_leverage_times" name="input_leverage_times" class="form-control form-models-select-times">-->
                                                            <!--<option>v</option>-->
                                                            <!--<option>e</option>-->
                                                            <!--<option>n</option>-->
                                                            <!--<option>s</option>-->
                                                        <!--</select>-->
                                                    <!--</div>-->
                                                     <!--&lt;!&ndash;Frequency&ndash;&gt;-->
                                                     <!--<div class="form-group">-->
                                                         <!--<label class="subtitle-model-input">Frequency</label>-->
                                                         <!--<select id="input_frequency_times" name="input_frequency_times" class="form-control form-models-select-times">-->
                                                             <!--<option>weekly</option>-->
                                                             <!--<option>monthly</option>-->
                                                             <!--<option>daily</option>-->
                                                        <!--</select>-->
                                                    <!--</div>-->
                                                 <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                         <!--<div class="row">-->
                                             <!--<div class="col-lg-6">-->
                                                 <!--<div class="btn-group">-->
                                                     <!--&lt;!&ndash;Week day&ndash;&gt;-->
                                                     <!--<div class="form-group">-->
                                                         <!--<label class="subtitle-model-input">Week day</label>-->
                                                        <!--<input id="input_weekday_times" name="input_weekday_times" class="form-control form-models-select-times rounded-lg" value="WED" readonly>-->
                                                     <!--</div>-->
                                                 <!--</div>-->
                                             <!--</div>-->
                                         <!--</div>-->

                                     <!--</div>-->
                                 <!--</div>-->
                            <!--</div>-->

                            <!--<div class="col-lg-6">-->
                                <!--<div class="card">-->
                                    <!--<div class="card-body">-->

                                        <!--<div class="row">-->
                                            <!--<div class="col-lg-6">-->
                                                <!--&lt;!&ndash;Signal1 short&ndash;&gt;-->
                                                <!--<div class="btn-group">-->
                                                    <!--<div class="form-group">-->
                                                <!--<label class="subtitle-model-input">Signal1 short</label>-->
                                                <!--<input type="number" id="input_signal_one_short_times" name="input_signal_one_short_times" class="form-control form-models-select-times" placeholder="Signal1 short" required>-->
                                                 <!--<script type="text/javascript">-->
                                                    <!--document.getElementById('input_signal_one_short_times').value = 15;-->
                                                <!--</script>-->
                                            <!--</div>-->
                                                    <!--<div class="form-group">-->
                                                <!--<label class="subtitle-model-input">Signal1 long</label>-->
                                                <!--<input type="number" id="input_signal_one_long_times" name="input_signal_one_long_times" class="form-control form-models-select-times" placeholder="Signal1 long" required>-->
                                                 <!--<script type="text/javascript">-->
                                                    <!--document.getElementById('input_signal_one_long_times').value = 30;-->
                                                <!--</script>-->
                                            <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="row">-->
                                            <!--<div class="col-lg-6">-->
                                                <!--<div class="btn-group">-->
                                                    <!--&lt;!&ndash;Signal2 short&ndash;&gt;-->
                                                    <!--<div class="form-group">-->
                                                        <!--<label class="subtitle-model-input">Signal2 short</label>-->
                                                        <!--<input type="number" id="input_signal_two_short_times" name="input_signal_two_short_times" class="form-control form-models-select-times" placeholder="Signal2 short" required>-->
                                                         <!--<script type="text/javascript">-->
                                                            <!--document.getElementById('input_signal_two_short_times').value = 30;-->
                                                        <!--</script>-->
                                                    <!--</div>-->
                                                    <!--&lt;!&ndash;Signal2 long&ndash;&gt;-->
                                                    <!--<div class="form-group">-->
                                                        <!--<label class="subtitle-model-input">Signal2 long</label>-->
                                                        <!--<input type="number" id="input_signal_two_long_times" name="input_signal_two_long_times" class="form-control form-models-select-times" placeholder="Signal2 long" required>-->
                                                        <!--<script type="text/javascript">-->
                                                            <!--document.getElementById('input_signal_two_long_times').value = 60;-->
                                                        <!--</script>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="row">-->
                                            <!--<div class="col-lg-6">-->
                                                <!--<div class="btn-group">-->
                                                    <!--&lt;!&ndash;Signal3 short&ndash;&gt;-->
                                                    <!--<div class="form-group">-->
                                                        <!--<label class="subtitle-model-input">Signal3 short</label>-->
                                                        <!--<input type="number" id="input_signal_three_short_times" name="input_signal_three_short_times" class="form-control form-models-select-times" placeholder="Signal3 short" required>-->
                                                         <!--<script type="text/javascript">-->
                                                            <!--document.getElementById('input_signal_three_short_times').value = 60;-->
                                                        <!--</script>-->
                                                    <!--</div>-->
                                                    <!--&lt;!&ndash;Signal3 long&ndash;&gt;-->
                                                    <!--<div class="form-group">-->
                                                        <!--<label class="subtitle-model-input">Signal3 long</label>-->
                                                        <!--<input type="number" id="input_signal_three_long_times" name="input_signal_three_long_times" class="form-control form-models-select-times" placeholder="Signal3 long" required>-->
                                                           <!--<script type="text/javascript">-->
                                                            <!--document.getElementById('input_signal_three_long_times').value = 120;-->
                                                        <!--</script>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                                <!--<div class="row">-->
                                                    <!--<button class="btn btn-secondary btn-lg btn-run-model-times" type="button" id="contact-form-button-times">Run strategy</button>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->

                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</form>-->
                <!--</div>-->
            <!--</div>-->
            <!--<script src="static/js/form_data_times.js"></script>-->


            <!--{% elif run_model_page == 'run_existing_version' %}-->

            <!--<h4 class="title-page-model text-center">Run an existing version of the strategy {{inputs_versions['version']}} for {{inputs_versions['fund']}}</h4>-->
            <!--&lt;!&ndash;<h6 class="sub-title-fund-version-dashboard text-center"><i>Fund name: {{inputs_versions['fund']}} Strategy version: {{inputs_versions['version']}}</i></h6>&ndash;&gt;-->
            <!--<h6 class="sub-title-date-dashboard text-center"><i>Date run:</i></h6>-->

            <!--&lt;!&ndash;Assets&ndash;&gt;-->
            <!--<div class="row">-->
                <!--<div class="col-lg-12">-->
                    <!--<div class="card">-->
                        <!--<h4 class="card-header"><b>Model assets</b></h4>-->
                        <!--<div class="card-body">-->
                            <!--<table class="table table-existing-version table-hover">-->
                            <!--<thead>-->
                                <!--<tr>-->
                                    <!--<th class="text-muted text-center" scope="col">Asset</th>-->
                                    <!--<th class="text-muted text-center" scope="col">Signal ticker</th>-->
                                    <!--<th class="text-muted text-center" scope="col">Future ticker</th>-->
                                    <!--<th class="text-muted text-center" scope="col">Costs</th>-->
                                    <!--<th class="text-muted text-center" scope="col">Leverage</th>-->
                                <!--</tr>-->
                            <!--</thead>-->

                            <!--<tbody>-->
                                <!--{% for asset in assets: %}-->
                                <!--<tr>-->
                                    <!--{% for a in asset: %}-->
                                        <!--<td class="text-muted text-center">{{a}}</td>-->
                                    <!--{% endfor %}-->
                                <!--</tr>-->
                                <!--{% endfor %}-->
                          <!--</tbody>-->
                          <!--</table>-->

                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--&lt;!&ndash;Inputs&ndash;&gt;-->
            <!--<div class="row row-model-inputs">-->
                <!--<div class="col-lg-12">-->
                    <!--<div class="card">-->
                        <!--<h4 class="card-header"><b>Model inputs</b></h4>-->
                        <!--<div class="card-body">-->
                                <!--<table class="table table-existing-version table-hover">-->
                                    <!--<thead>-->
                                        <!--<tr>-->
                                            <!--<th class="text-muted text-center" scope="col">Date from</th>-->
                                            <!--<th class="text-muted text-center" scope="col">Date to</th>-->
                                            <!--<th class="text-muted text-center" scope="col">Strategy weight</th>-->
                                            <!--<th class="text-muted text-center" scope="col">Times lag</th>-->
                                            <!--<th class="text-muted text-center" scope="col">Leverage</th>-->
                                            <!--<th class="text-muted text-center" scope="col">Volatility</th>-->
                                            <!--<th class="text-muted text-center" scope="col">Frequency</th>-->
                                            <!--<th class="text-muted text-center" scope="col">Week day</th>-->
                                        <!--</tr>-->
                                    <!--</thead>-->
                                    <!--<tbody>-->
                                        <!--<tr>-->
                                            <!--<td class="text-muted text-center">{{inputs_versions['input_date_from_times']}}</td>-->
                                            <!--<td class="text-muted text-center">{{inputs_versions['input_date_to_times']}}</td>-->
                                            <!--<td class="text-muted text-center">{{inputs_versions['input_strategy_weight_times']}}</td>-->
                                            <!--<td class="text-muted text-center">{{inputs_versions['input_time_lag_times']}}</td>-->
                                            <!--<td class="text-muted text-center" contenteditable="true">{{inputs_versions['input_leverage_times']}}</td>-->
                                            <!--<td class="text-muted text-center" contenteditable="true">{{inputs_versions['input_vol_window_times']}}</td>-->
                                            <!--<td class="text-muted text-center" contenteditable="true">{{inputs_versions['input_frequency_times']}}</td>-->
                                             <!--<td class="text-muted text-center" contenteditable="true">{{inputs_versions['input_frequency_times']}}</td>-->
                                        <!--</tr>-->
                                    <!--</tbody>-->
                            <!--</table>-->

                            <!--<div id="table-signals" class="table-editable">-->
                                <!--<table class="table table-existing-version table-hover">-->
                                    <!--<thead>-->
                                        <!--<tr>-->
                                            <!--<th class="text-muted text-center" scope="col">Signal1 short</th>-->
                                            <!--<th class="text-muted text-center" scope="col">Signal2 short</th>-->
                                            <!--<th class="text-muted text-center" scope="col">Signal3 short</th>-->
                                            <!--<th class="text-muted text-center" scope="col">Signal1 long</th>-->
                                            <!--<th class="text-muted text-center" scope="col">Signal2 long</th>-->
                                            <!--<th class="text-muted text-center" scope="col">Signal3 long</th>-->
                                        <!--</tr>-->
                                    <!--</thead>-->

                                    <!--<tbody>-->
                                        <!--<tr>-->
                                            <!--<td class="text-muted text-center" contenteditable="true">{{inputs_versions['input_signal_one_short_times']}}</td>-->
                                            <!--<td class="text-muted text-center" contenteditable="true">{{inputs_versions['input_signal_two_short_times']}}</td>-->
                                            <!--<td class="text-muted text-center" contenteditable="true">{{inputs_versions['input_signal_three_short_times']}}</td>-->
                                            <!--<td class="text-muted text-center" contenteditable="true">{{inputs_versions['input_signal_one_long_times']}}</td>-->
                                            <!--<td class="text-muted text-center" contenteditable="true">{{inputs_versions['input_signal_two_long_times']}}</td>-->
                                            <!--<td class="text-muted text-center" contenteditable="true">{{inputs_versions['input_signal_three_long_times']}}</td>-->
                                        <!--</tr>-->
                                    <!--</tbody>-->
                            <!--</table>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<form class="center" action="{{url_for('times_strategy')}}" method="POST" novalidate>-->
                <!--<div class="row">-->
                    <!--<div class="col-lg-12">-->
                        <!--<button class="btn btn-secondary btn-lg btn-run-model-existing-versions-times" type="submit" name="submit_button" value="run-strategy-existing-versions">Run strategy</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</form>-->


            {% elif pop_up_message == 'pop_up_message' %}
                <!-- Modal -->
                  <!-- Modal -->
                  <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog modal-lg">

                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Existing version: {{inputs_versions['version']}} with the date to 13/08/2020</h4>
                        </div>
                        <div class="modal-body">
                            <p class="text-center">This version already exists in the database.</p>
                            <p class="text-center">Would you like: </p>

                            <div class="row">
                                <div class="col-lg-12">
                                    <center>
                                    <!--Date from-->
                                    <div class="btn-group">
                                        <form class="center" action="{{url_for('times_strategy')}}" method="POST" novalidate>
                                            <button class="btn btn-primary btn-sm btn-run-model-existing-versions-times-pop-up" type="submit" name="submit_button" value="run-strategy-existing-versions">Run this version again?</button>
                                        </form>

                                        <form class="center" action="{{url_for('times_dashboard')}}" method="POST" novalidate>
                                            <button class="btn btn-primary btn-sm btn-dashboard-existing-versions-times-pop-up" type="submit" name="submit_button" value="dashboard-strategy-existing-versions">See the dashboard of this version?</button>
                                        </form>
                                    </div>
                                        </center>
                                </div>
                            </div>

                            <!--Assets-->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <h4 class="card-header"><b>Model assets</b></h4>
                                        <div class="card-body">
                                            <table class="table table-existing-version table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="text-muted text-center" scope="col">Asset</th>
                                                        <th class="text-muted text-center" scope="col">Signal ticker</th>
                                                        <th class="text-muted text-center" scope="col">Future ticker</th>
                                                        <th class="text-muted text-center" scope="col">Costs</th>
                                                        <th class="text-muted text-center" scope="col">Leverage</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    {% for asset in assets: %}
                                                    <tr>
                                                        {% for a in asset: %}
                                                            <td class="text-muted text-center">{{a}}</td>
                                                        {% endfor %}
                                                    </tr>
                                                    {% endfor %}
                                              </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Inputs-->
                            <div class="row row-model-inputs">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <h4 class="card-header"><b>Model inputs</b></h4>
                                        <div class="card-body">
                                            <table class="table table-existing-version table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="text-muted text-center" scope="col">Date from</th>
                                                        <th class="text-muted text-center" scope="col">Date to</th>
                                                        <th class="text-muted text-center" scope="col">Strategy weight</th>
                                                        <th class="text-muted text-center" scope="col">Times lag</th>
                                                        <th class="text-muted text-center" scope="col">Leverage</th>
                                                        <th class="text-muted text-center" scope="col">Volatility</th>
                                                        <th class="text-muted text-center" scope="col">Frequency</th>
                                                        <th class="text-muted text-center" scope="col">Week day</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="text-muted text-center">{{inputs_versions['input_date_from_times']}}</td>
                                                        <td class="text-muted text-center">{{inputs_versions['input_date_to_times']}}</td>
                                                        <td class="text-muted text-center">{{inputs_versions['input_strategy_weight_times']}}</td>
                                                        <td class="text-muted text-center">{{inputs_versions['input_time_lag_times']}}</td>
                                                        <td class="text-muted text-center" contenteditable="true">{{inputs_versions['input_leverage_times']}}</td>
                                                        <td class="text-muted text-center" contenteditable="true">{{inputs_versions['input_vol_window_times']}}</td>
                                                        <td class="text-muted text-center" contenteditable="true">{{inputs_versions['input_frequency_times']}}</td>
                                                         <td class="text-muted text-center" contenteditable="true">{{inputs_versions['input_frequency_times']}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <div id="table-signals" class="table-editable">
                                                <table class="table table-existing-version table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-muted text-center" scope="col">Signal1 short</th>
                                                            <th class="text-muted text-center" scope="col">Signal2 short</th>
                                                            <th class="text-muted text-center" scope="col">Signal3 short</th>
                                                            <th class="text-muted text-center" scope="col">Signal1 long</th>
                                                            <th class="text-muted text-center" scope="col">Signal2 long</th>
                                                            <th class="text-muted text-center" scope="col">Signal3 long</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <tr>
                                                            <td class="text-muted text-center" contenteditable="true">{{inputs_versions['input_signal_one_short_times']}}</td>
                                                            <td class="text-muted text-center" contenteditable="true">{{inputs_versions['input_signal_two_short_times']}}</td>
                                                            <td class="text-muted text-center" contenteditable="true">{{inputs_versions['input_signal_three_short_times']}}</td>
                                                            <td class="text-muted text-center" contenteditable="true">{{inputs_versions['input_signal_one_long_times']}}</td>
                                                            <td class="text-muted text-center" contenteditable="true">{{inputs_versions['input_signal_two_long_times']}}</td>
                                                            <td class="text-muted text-center" contenteditable="true">{{inputs_versions['input_signal_three_long_times']}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary btn-close-existing-versions-times-pop-up" data-dismiss="modal">Close</button>
                        </div>
                      </div>

                    </div>
                  </div>

                <script>
                    $('#myModal').modal('show');
                </script>
            {% endif %}
        </div>
    {% endblock %}
</body>