<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

        <link rel="stylesheet" href="static/css/times_dashboard.css">
    </head>

    <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top navbar-default py-lg-0 ">
        <button class="navbar-toggler" type="button"
                    data-toggle="collapse"
                    data-target="#navbarResponsive"
                    aria-controls="navbarResponsive"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="mailto:NexusQuantDev@lgim.com" target=""><b>Support</b></a></li>
            </ul>
        </div>
    </nav>

    <div class="sidenav">
        <a href="{{url_for('home')}}"><img alt="Legal and General" width="90px;" height="auto" src="https://www.legalandgeneral.com/web_resources/landscape/images/landg-logo.svg"></a>

        <a class="sidenav-home" href="{{url_for('home')}}">Home</a>

        <!-- ============================= CHARTS DATA ============================= -->
        <a class="sidenav-item" href="#">Charts Data</a>
        <form class="center" action="" method="POST" novalidate>
            {{ form_side_bar.hidden_tag() }}
            <!-- Form: select the version for the model -->
            <div class="btn-group">
                {{ form_side_bar.versions_for_charts(class="form-control", id="selectVersion")}}
            </div>
            <!--Leverage type-->
           <div class="form-group">
               <label class="label-models-select-sidebar">Leverage type</label>
               <select id="inputleveragesidebar" name="leverage" class="form-control form-control-lg form-models-select-sidebar">
                   <option>v</option>
                   <option>e</option>
                   <option>n</option>
                   <option>s</option>
               </select>
           </div>
            <!--<a href="#"><button type="submit" class="btn btn-secondary btn-lg btn-select-sidebar">ok</button></a>-->
            {{ form_side_bar.submit_ok_charts_data(class="form-control", id="btn-select-charts-ok")}}
        </form>

        <!-- ============================= EXPORT DATA ============================= -->
        <a class="sidenav-item" href="#">Export Data</a>
        <form class="center" action="" method="POST" novalidate>
            {{ form_side_bar.hidden_tag() }}
            <!-- Form: select the version for the model -->
            <div class="btn-group">
                {{ form_side_bar.versions_for_export(class="form-control", id="selectVersion")}}
            </div>
            <!--Leverage type-->
            <div class="form-group">
               <label class="label-models-select-sidebar">Leverage type</label>
               <select id="inputleveragesidebardexcel" name="leverage" class="form-control form-control-lg form-models-select-sidebar">
                   <option>v</option>
                   <option>e</option>
                   <option>n</option>
                   <option>s</option>
               </select>
           </div>
            <!--Start date export-->
            <label class="label-models-date-sidebar">Start date</label>
            {{ form_side_bar.start_date_export(class="form-control", placeholder="25/12/2018", id="sidebar-start-date") }}
            <!--End date export-->
             <label class="label-models-date-sidebar">End date</label>
            {{ form_side_bar.end_date_export(class="form-control", placeholder="05/01/2019", id="sidebar-end-date") }}
            {{ form_side_bar.submit_ok_export_data(class="form-control", id="btn-select-export-data")}}
        </form>
    </div>

    <!-- ============================= CHARTS AREA ============================= -->
    <div class="container-fluid">
        <h2 class="title-dashboard">TIMES Dashboard</h2>
        <h6 class="sub-title-dashboard"><i>Fund name: {{fund_strategy['fund']}} Strategy version: {{fund_strategy['strategy']}}</i></h6>

        <!--Asset Allocation chart-->
        <div class="row row-asset-alloc-chart">
             <form class="center" action="/times_dashboard" method="POST" novalidate>
                <div class="btn-group">
                    {{form.start_date_times_inputs(class="form-control", placeholder="Start date", id="start_date_box_times")}}
                    {{form.end_date_times_inputs(class="form-control", placeholder="End date", id="end_date_box_times")}}
                    {{form.submit_ok_positions(class="form-control", id="submit_ok_positions")}}
                <button class="btn btn-outline-light icon-download" type="submit" name="submit_button" value="assets-positions"><img width="40px" height="auto" src="static/img/icon_download_cloud_two.png" alt="Icon download"></button>
                </div>
             </form>

            <div class="col-lg-12">
                <div id="asset_allocation_over_time" class="responsive-plot"></div>
                <script type="text/javascript" src="{{ url_for('static', filename='js/times/line_chart_asset_allocation_over_time_times.js') }}"></script>
                <script type="text/javascript">
                    assetAllocationChart({{positions|tojson}}, {{dates_pos|tojson}}, {{names_pos|tojson}})
                </script>
            </div>
        </div>
        <!--Positions and Performance Titles-->
        <div class="row row-tables-positions">
             <div class="col-lg-9">
                 <table class="table table-hover">
                     <thead>
                        <tr>
                            <th class="text-center pos-perf-title" scope="col">Positions</th>
                        </tr>
                     </thead>
                 </table>
             </div>
            <div class="col-lg-3">
                 <table class="table table-hover">
                     <thead>
                        <tr>
                            <th class="text-center pos-perf-title" scope="col">Performance</th>
                        </tr>
                     </thead>
                 </table>
             </div>
        </div>
        <!--Positions and Performance Tables (overall)-->
        <div class="row row-table-overall">
            <div class="col-lg-9">
                 <table class="table table-hover">
                     <thead>
                        <tr>
                            <th class="text-muted text-center" scope="col">Signal as off <i class="signal-as-off-date">{{signal_as_off}}</i></th>
                            <th class="text-muted text-center" scope="col">Previous (%)</th>
                            <th class="text-muted text-center" scope="col">New (%)</th>
                        </tr>
                     </thead>

                     <tbody>
                        {% for category, pre_overall, new_overall in zip_results_pos_overall %}
                        <tr>
                            <td class="text-muted text-center">{{category}}</td>
                            <td class="text-muted text-center">{{pre_overall}}</td>
                            <td class="text-muted text-center">{{new_overall}}</td>
                        </tr>
                        {% endfor %}
                     </tbody>
                 </table>
             </div>

            <div class="col-lg-3">
                 <table class="table table-hover ">
                     <thead>
                        <tr>
                            <th class="text-muted text-center" scope="col">Weekly (%)</th>
                            <th class="text-muted text-center" scope="col">YTD (%)</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for weekly, ytd in zip_results_perf_overall %}
                        <tr>
                            <td class="text-muted text-center">{{weekly}}</td>
                            <td class="text-muted text-center">{{ytd}}</td>
                        </tr>
                        {% endfor %}
                     </tbody>
                 </table>
            </div>
        </div>

        <!--Positions and Performance Tables-->
        <div class="row row-tables-positions">
            <div class="col-lg-9">
                 <table class="table table-hover">
                     <thead>
                        <tr>
                            <th class="text-muted text-center" scope="col"></th>
                            <th class="text-muted text-center" scope="col"></th>
                            <th class="text-muted text-center" scope="col">Mom Signals</th>
                            <th class="text-muted text-center" scope="col">Previous (%)</th>
                            <th class="text-muted text-center" scope="col">New (%)</th>
                            <th class="text-muted text-center" scope="col">Delta (%)</th>
                            <th class="text-muted text-center" scope="col">Trade</th>
                            <th class="text-muted text-center" scope="col">Size</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for category, name, mom, prev_pos, new_pos, delta, trade, size in zip_results_pos %}
                        <tr>
                            <td class="text-muted text-center">{{category}}</td>
                            <td class="text-muted text-center">{{name}}</td>
                            <td class="text-muted text-center">{{mom}}</td>
                            <td class="text-muted text-center">{{prev_pos}}</td>
                            <td class="text-muted text-center">{{new_pos}}</td>
                            {% if delta > 0 %}
                                <td class="text-center" style="color:rgb(0, 128, 0);">{{delta}}</td>
                            {% else %}
                                <td class="text-center" style="color:rgb(255, 0, 0);">{{delta}}</td>
                            {% endif %}
                            {% if trade == 'BUY' %}
                                <td class="text-center" style="color:rgb(0, 128, 0);">{{trade}}</td>
                            {% else %}
                                <td class="text-center" style="color:rgb(255, 0, 0);">{{trade}}</td>
                            {% endif %}
                            {% if size > 0 %}
                                <td class="text-center" style="color:rgb(0, 128, 0);">{{size}}</td>
                            {% else %}
                                <td class="text-center" style="color:rgb(255, 0, 0);">{{size}}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                     </tbody>
                 </table>
            </div>

            <div class="col-lg-3">
                 <table class="table table-hover">
                     <thead>
                        <tr>
                            <th class="text-muted text-center" scope="col">Weekly (%)</th>
                            <th class="text-muted text-center" scope="col">YTD (%)</th>
                        </tr>
                     </thead>
                     <tbody>
                        {% for weekly, ytd in zip_results_perf %}
                        <tr>
                            <td class="text-muted text-center">{{weekly}}</td>
                            <td class="text-muted text-center">{{ytd}}</td>
                        </tr>
                        {% endfor %}
                     </tbody>
                 </table>
            </div>
        </div>

        <!--Performance Title-->
        <div class="row row-tables-positions">
             <div class="col-lg-12">
                 <table class="table table-hover">
                     <thead>
                        <tr>
                            <th class="text-center pos-perf-title" scope="col">Performance</th>
                        </tr>
                     </thead>
                 </table>
             </div>
        </div>

        <!--Performance bar charts-->
        <div class="row row-positions-assets-charts">
            <!--Weekly Performance-->
            <div class="col-lg-6">
                <div id="weekly_performance" class="responsive-plot"></div>
                <script type="text/javascript" src="{{ url_for('static', filename='js/times/horizontal_bar_chart_weekly_performance.js') }}"></script>
                <script type="text/javascript">
                    weeklyPerformanceChart({{weekly_performance_all_currencies|tojson}}, {{assets_names|tojson}})
                </script>
            </div>
            <!--YTD Performance-->
            <div class="col-lg-6">
                <div id="ytd_performance" class="responsive-plot"></div>
                <script type="text/javascript" src="{{ url_for('static', filename='js/times/horizontal_bar_chart_ytd_performance.js') }}"></script>
                <script type="text/javascript">
                    ytdPerformanceChart({{ytd_performance_all_currencies|tojson}})
                </script>
            </div>
        </div>

        <!--Positions Title-->
        <div class="row row-tables-positions">
             <div class="col-lg-12">
                 <table class="table table-hover">
                     <thead>
                        <tr>
                            <th class="text-center pos-perf-title" scope="col">Positions</th>
                        </tr>
                     </thead>
                 </table>
             </div>
        </div>

        <!-- Positions bar charts -->
        <div class="row row-positions-assets-charts">
            <!--Mom signals-->
            <div class="col-lg-4">
                <div id="mom_signals" class="responsive-plot"></div>
                <script type="text/javascript" src="{{ url_for('static', filename='js/times/horizontal_bar_chart_mom_signals.js') }}"></script>
                <script type="text/javascript">
                    momSignalsChart({{mom_signals|tojson}}, {{assets_names|tojson}})
                </script>
            </div>
            <!--Previous Positions-->
            <div class="col-lg-4">
                <div id="previous_positions" class="responsive-plot"></div>
                <script type="text/javascript" src="{{ url_for('static', filename='js/times/horizontal_bar_chart_previous_positions.js') }}"></script>
                <script type="text/javascript">
                    previousPositionsChart({{prev_positions|tojson}})
                </script>
            </div>
            <!--New Positions-->
            <div class="col-lg-4">
                <div id="new_positions" class="responsive-plot"></div>
                <script type="text/javascript" src="{{ url_for('static', filename='js/times/horizontal_bar_chart_new_positions.js') }}"></script>
                <script type="text/javascript">
                    newPositionsChart({{new_positions|tojson}})
                </script>
            </div>
        </div>

        <!--Positions assets charts-->
        <div class="row row-positions-assets-charts">
            <div class="col-lg-4">
                <div id="positions_equities" class="responsive-plot"></div>
                <script type="text/javascript" src="{{ url_for('static', filename='js/times/line_chart_positions_equities.js') }}"></script>
                <script type="text/javascript">
                    positionsEquities({{positions_assets_sum['equities_pos_sum']|tojson}},
                                      {{equities_fifth_percentile|tojson}},
                                      {{equities_ninety_five_percentile|tojson}},
                                      {{positions_assets_sum['dates_positions_assets']|tojson}})
                </script>
            </div>
            <div class="col-lg-4">
                <div id="positions_bonds" class="responsive-plot"></div>
                <script type="text/javascript" src="{{ url_for('static', filename='js/times/line_chart_positions_bonds.js') }}"></script>
                <script type="text/javascript">
                    positionsBonds({{positions_assets_sum['bonds_pos_sum']|tojson}},
                                   {{bonds_fifth_percentile|tojson}},
                                   {{bonds_ninety_five_percentile|tojson}},
                                   {{positions_assets_sum['dates_positions_assets']|tojson}})
                </script>
            </div>
            <div class="col-lg-4">
                <div id="positions_forex" class="responsive-plot"></div>
                <script type="text/javascript" src="{{ url_for('static', filename='js/times/line_chart_positions_forex.js') }}"></script>
                <script type="text/javascript">
                    positionsForex({{positions_assets_sum['forex_pos_sum']|tojson}},
                                   {{forex_fifth_percentile|tojson}},
                                   {{forex_ninety_five_percentile|tojson}},
                                   {{positions_assets_sum['dates_positions_assets']|tojson}})
                </script>
            </div>
        </div>

    </div>
</body>
</html>