{% extends "base.html" %}

<html>
    <head>
        <title>{{ title }}</title>
    </head>

<body>
    {% block timespage %}
        <div class="container">
            <!--Title-->
            <div class="row">
                <h1 class="title-page-model"></h1>
            </div>

            <div class="row row-model">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="card card-custom-wide">
                        <img src="static/img/color-background.PNG" height="150px"/>
                        <div class="card-body">
                            <h4 class="card-title">TIMES Strategy</h4>
                            <form class="center" action="{{url_for('times_strategy')}}" method="POST" novalidate>
                                <!--Select a fund-->
                                <center>
                                    <label class="header-pretitle-card"><b>1. Select a fund</b></label><br>
                                    <select class="form-control select-form-fund text-center" id="select-fund-from-strategy-page">
                                        <option disabled selected value>fund</option>
                                        {% for f in existing_funds %}
                                            <option>{{f}}</option>
                                        {% endfor %}
                                    </select>
                                </center>

                                <!--Choose a weight for the fund-->
                                 <center>
                                     <label class="header-pretitle-card"><b>2. Choose a weight for the strategy</b></label><br>
                                     <input type="text" class="form-control input-weight-fund-form text-center" id="input_weight_strategy" placeholder="strategy weight">
                                 </center>

                                <!--Select a version -->

                                <!--Existing version-->
                                <center>
                                    <label class="header-pretitle-version-card"><b>3. Select a version</b></label>
                                    <p class="select-fund-choice">In this section, you have the possibility to
                                        <u>run an existing version</u><br><b>OR</b> to <u>create a new version of a strategy</u>
                                    </p>

                                    <div class="row-border-top border-top"></div>
                                    <center>
                                        <h6 class="subtitle-strategy">Select an existing version of the strategy</h6>
                                        <!--Date to-->
                                        <input type="text" class="form-control select-form-date-to text-center" id="select-date-to-strategy-page" name="select-date-to-strategy-page">
                                        <script type="text/javascript">

                                                switch (new Date().getDay()) {
                                                  case 0:
                                                    day = "Sunday";
                                                    break;
                                                  case 1:
                                                    day = "Monday";
                                                    break;
                                                  case 2:
                                                    day = "Tuesday";
                                                    break;
                                                  case 3:
                                                    day = "Wednesday";
                                                    break;
                                                  case 4:
                                                    day = "Thursday";
                                                    break;
                                                  case 5:
                                                    day = "Friday";
                                                    break;
                                                  case 6:
                                                    day = "Saturday";
                                                }

                                                var today = new Date()
                                                var lastTuesday = new Date(today)

                                                var todayWeekDay = today.getDay()-1;

                                                if(todayWeekDay==-1){
                                                  todayWeekDay = 6
                                                }


                                                if (todayWeekDay==1){
                                                  var offset = 7

                                                }
                                                else{
                                                  var offset = (todayWeekDay-1) % 7
                                                }

                                                lastTuesday.setDate(lastTuesday.getDate() - offset);

                                                var lastTuesdaySplit = lastTuesday.toLocaleString().split(",");

                                                document.getElementById('select-date-to-strategy-page').value = lastTuesdaySplit[0]
                                            </script>
                                        <div class="btn-group-vertical">
                                            <select class="form-control select-form-version" id="select-version-from-strategy-page">
                                                <option disabled selected value>version</option>
                                                {% for v in versions_list %}
                                                    <option>{{v}}</option>
                                                {% endfor %}
                                            </select>

                                        </div>
                                    </center>
                                </center>

                                <!--New version-->
                                <div class="row-border-top border-top"></div>

                                <center>
                                    <h6 class="subtitle-strategy">Create a new version of the strategy</h6>
                                    <a href="#"><button  type="submit" name="submit_button" value="new-version" class="btn-sm btn-new-version">Create a new version</button></a>
                                </center>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3"></div>
            </div>
            <script src="static/js/form_strategy_page_times.js"></script>


            {% if run_model_page == 'run_new_version' %}
                <script>
                    var faqs_row = 0;
                    function addfaqs() {
                    html = '<tr id="faqs-row' + faqs_row + '">';
                        html += '<td><input type="text" class="form-control form-control-assets-table text-center" placeholder="asset"></td>';
                        html += '<td><input type="text" class="form-control form-control-assets-table text-center" placeholder="category" ></td>';




                        html += '<td><select class="form-control form-control-assets-table text-center" id="input_signal_ticker_from_times" name="input_signal_ticker_from_times"><option disabled selected value>ticker</option>{% for val in asset_tickers_names_subcategories %}<option>{{val}}</option>{% endfor %}</select></td>';





                        html += '<td><input type="text" class="form-control form-control-assets-table text-center" placeholder="costs"></td>';
                        html += '<td><input type="text" class="form-control form-control-assets-table text-center" placeholder="leverage"></td>';
                        html += '<td class="mt-10"><button class="btn-sm btn-delete-assets-existing-version" onclick="$(\'#faqs-row' + faqs_row + '\').remove();"><i class="fa fa-trash"></i> Delete</button></td>';

                        html += '</tr>';

                    $('#faqs tbody').append(html);

                    faqs_row++;
                    }
                </script>

                <div class="row row-model">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                    <div class="card card-custom-wide">
                        <img src="static/img/color-background.PNG" height="70px"/>
                        <div class="card-body">
                            <center>
                                <h4 class="card-title-label">Create a new version of the strategy for {{fund_selected}}</h4>
                                <div class="btn-group version-name-form-btn-group">
                                    <label class="header-pretitle-version-name">Enter a version name</label>
                                    <input type="text" class="form-control input-version-name-form text-center" id="input_version_name_strategy" name="input_version_name_strategy" placeholder="Version name">
                                </div>
                            </center>

                            <h4 class="card-title-version_form">Model assets</h4>

                            <div class="table-responsive">
                                    <table id="faqs" class="table table-assets-existing-version">
                                        <thead>
                                        <tr>
                                        <th class="text-center">Name</th>
                                        <th class="text-center">Subcategory</th>
                                        <th class="text-center">Ticker</th>
                                        <th class="text-center">Costs</th>
                                        <th class="text-center">Leverage</th>
                                        <th></th>
                                    </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="rowUpdate">
                                            <td><input type="text" class="form-control form-control-assets-table text-center" id="input_asset_from_times" name="input_asset_from_times" placeholder="asset" value={{name_asset}}></td>
                                            <td><input type="text" class="form-control form-control-assets-table text-center" id="input_category_from_times" name="input_category_from_times" placeholder="category" value={{subcategory_asset}}></td>

                                            <!--<td><input type="text" class="form-control form-control-assets-table text-center" id="input_signal_ticker_from_times" name="input_signal_ticker_from_times" placeholder="signal ticker" value="SPXT Index"></td>-->

                                            <td>
                                                <select class="form-control form-control-assets-table text-center" id="input_signal_ticker_from_times" name="input_signal_ticker_from_times">
                                                    <option disabled selected value>ticker</option>
                                                    {% for val in asset_tickers_names_subcategories %}
                                                        <option>{{val}}</option>
                                                    {% endfor %}
                                                </select>
                                            </td>












                                            <!--<td><input type="text" class="form-control form-control-assets-table text-center" id="input_future_ticker_from_times" name="input_future_ticker_from_times" placeholder="future ticker" value="CD1 A:00_0_R Curncy"></td>-->
                                            <td><input type="text" class="form-control form-control-assets-table text-center" id="input_costs_from_times" name="input_costs_from_times" placeholder="costs" value="0.0002"></td>
                                            <td><input type="text" class="form-control form-control-assets-table text-center" id="input_leverage_from_times" name="input_leverage_from_times" placeholder="leverage" value="1"></td>
                                            <td class="mt-10"></td>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                            <div class="text-center"><button onclick="addfaqs();" class="btn-sm btn-add-assets-existing-version">Add asset</button></div>

                            <h4 class="second-card-title-version_form">Model inputs</h4>
                            <form class="form-signin" role="form">
                                <div class="row">
                                    <!--Date from-->
                                    <div class="col-lg-6">
                                        <label class="subtitle-model-input">Date from</label>
                                        <input type="text" class="form-control form-models-select-times text-center" id="input_date_from_times" name="input_date_from_times" readonly>
                                        <script type="text/javascript">
                                           document.getElementById('input_date_from_times').value = "01/01/2000"
                                        </script>
                                    </div>
                                    <!--Date to-->
                                    <div class="col-lg-6">
                                        <label class="subtitle-model-input">Date to</label>
                                        <input id="input_date_to_new_version_times" name="input_date_to_new_version_times" class="form-control form-models-select-times rounded-lg text-center" value="11/08/2020" required oninput="selectDateToCalendar()">
                                    </div>
                                </div>

                                <div class="row">
                                    <!--Volatility window-->
                                    <div class="col-lg-6">
                                        <label class="subtitle-model-input">Volatility window</label>
                                        <input type="number" id="input_vol_window_times" name="input_vol_window_times" class="form-control form-models-select-times text-center" placeholder="Volatility window" required>
                                        <script type="text/javascript">
                                            document.getElementById('input_vol_window_times').value = 90;
                                        </script>
                                    </div>
                                    <!--Time lag-->
                                    <div class="col-lg-6">
                                        <label class="subtitle-model-input">Time lag</label>
                                        <input type="number" id="input_time_lag_times" name="input_time_lag_times" class="form-control form-models-select-times text-center" placeholder="Time lag" required>
                                        <script type="text/javascript">
                                              document.getElementById('input_time_lag_times').value = 2;
                                        </script>
                                    </div>
                                </div>

                                <div class="row">
                                    <!--Leverage type-->
                                    <div class="col-lg-6">
                                        <label class="subtitle-model-input">Leverage type</label>
                                          <select id="input_leverage_times" name="input_leverage_times" class="form-control form-models-select-times text-center">
                                              <option>v</option>
                                              <option>e</option>
                                              <option>n</option>
                                              <option>s</option>
                                          </select>
                                    </div>

                                    <!--Frequency-->
                                    <div class="col-lg-6">
                                        <label class="subtitle-model-input">Frequency</label>
                                        <select id="input_frequency_times" name="input_frequency_times" class="form-control form-models-select-times text-center">
                                             <option>weekly</option>
                                             <option>monthly</option>
                                             <option>daily</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <!--Week day-->
                                    <div class="col-lg-6">
                                        <label class="subtitle-model-input">Week day</label>
                                        <input id="input_weekday_times" name="input_weekday_times" class="form-control form-models-select-times rounded-lg text-center" value="TUE" readonly>
                                    </div>
                                </div>

                                <div class="row">
                                    <!--Signal1 short-->
                                    <div class="col-lg-6">
                                        <label class="subtitle-model-input">Signal1 short</label>
                                        <input type="number" id="input_signal_one_short_times" name="input_signal_one_short_times" class="form-control form-models-select-times text-center" placeholder="Signal1 short" required>
                                        <script type="text/javascript">
                                            document.getElementById('input_signal_one_short_times').value = 15;
                                        </script>
                                    </div>
                                    <!--Signal1 long-->
                                    <div class="col-lg-6">
                                        <label class="subtitle-model-input">Signal1 long</label>
                                        <input type="number" id="input_signal_one_long_times" name="input_signal_one_long_times" class="form-control form-models-select-times text-center" placeholder="Signal1 long" required>
                                         <script type="text/javascript">
                                            document.getElementById('input_signal_one_long_times').value = 30;
                                         </script>
                                    </div>
                                </div>

                                 <div class="row">
                                     <!--Signal2 short-->
                                     <div class="col-lg-6">
                                         <label class="subtitle-model-input">Signal2 short</label>
                                         <input type="number" id="input_signal_two_short_times" name="input_signal_two_short_times" class="form-control form-models-select-times text-center" placeholder="Signal2 short" required>
                                         <script type="text/javascript">
                                            document.getElementById('input_signal_two_short_times').value = 30;
                                        </script>
                                     </div>

                                     <!--Signal2 long-->
                                     <div class="col-lg-6">
                                         <label class="subtitle-model-input">Signal2 long</label>
                                         <input type="number" id="input_signal_two_long_times" name="input_signal_two_long_times" class="form-control form-models-select-times text-center" placeholder="Signal2 long" required>
                                        <script type="text/javascript">
                                            document.getElementById('input_signal_two_long_times').value = 60;
                                        </script>
                                     </div>
                                 </div>

                                <div class="row">
                                    <!--Signal3 short-->
                                     <div class="col-lg-6">
                                         <label class="subtitle-model-input">Signal3 short</label>
                                         <input type="number" id="input_signal_three_short_times" name="input_signal_three_short_times" class="form-control form-models-select-times text-center" placeholder="Signal3 short" required>
                                         <script type="text/javascript">
                                            document.getElementById('input_signal_three_short_times').value = 60;
                                         </script>
                                     </div>

                                    <!--Signal3 long-->
                                     <div class="col-lg-6">
                                         <label class="subtitle-model-input">Signal3 long</label>
                                         <input type="number" id="input_signal_three_long_times" name="input_signal_three_long_times" class="form-control form-models-select-times text-center" placeholder="Signal3 long" required>
                                         <script type="text/javascript">
                                            document.getElementById('input_signal_three_long_times').value = 120;
                                         </script>
                                     </div>
                                </div>

                                <div class="text-center"><button class="btn-sm btn-run-model-times" type="button" id="contact-form-button-times">Run strategy</button></div>
                            </form>
                        </div>
                    </div>
                </div>
                </div>
                <script src="static/js/form_data_times.js"></script>

            {% elif run_model_page == 'run_existing_version' %}

                <div class="row row-model">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div class="card card-custom-wide">
                            <img src="static/img/color-background.PNG" height="70px"/>
                            <div class="card-body">
                                <center>
                                    <h4 class="card-title-label">Existing version: {{inputs_versions['version']}}</h4>
                                </center>

                                <p class="text-center">This version does not exist in the database with this date.</p>

                                <!--Assets-->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h4 class="card-header"><b>Model assets</b></h4>
                                        <table class="table table-existing-version table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="text-muted text-center" scope="col">Asset</th>
                                                    <th class="text-muted text-center" scope="col">Signal ticker</th>
                                                    <th class="text-muted text-center" scope="col">Future ticker</th>
                                                    <th class="text-muted text-center" scope="col">Costs</th>
                                                    <th class="text-muted text-center" scope="col">Leverage</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                {% for asset in assets: %}
                                                <tr>
                                                    {% for a in asset: %}
                                                        <td class="text-muted text-center">{{a}}</td>
                                                    {% endfor %}
                                                </tr>
                                                {% endfor %}
                                          </tbody>
                                        </table>
                                    </div>
                                </div>

                                <!--Inputs-->
                                <div class="row row-model-inputs">
                                    <div class="col-lg-12">
                                        <h4 class="card-header"><b>Model inputs</b></h4>

                                        <table class="table table-existing-version table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="text-muted text-center" scope="col">Date from</th>
                                                    <th class="text-muted text-center" scope="col">Date to</th>
                                                    <th class="text-muted text-center" scope="col">Strategy weight</th>
                                                    <th class="text-muted text-center" scope="col">Times lag</th>
                                                    <th class="text-muted text-center" scope="col">Leverage</th>
                                                    <th class="text-muted text-center" scope="col">Volatility</th>
                                                    <th class="text-muted text-center" scope="col">Frequency</th>
                                                    <th class="text-muted text-center" scope="col">Week day</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-muted text-center">{{inputs_versions['input_date_from_times']}}</td>
                                                    <td class="text-muted text-center">{{inputs_versions['input_date_to_times']}}</td>
                                                    <td class="text-muted text-center">{{inputs_versions['input_strategy_weight_times']}}</td>
                                                    <td class="text-muted text-center">{{inputs_versions['input_time_lag_times']}}</td>
                                                    <td class="text-muted text-center" contenteditable="true">{{inputs_versions['input_leverage_times']}}</td>
                                                    <td class="text-muted text-center" contenteditable="true">{{inputs_versions['input_vol_window_times']}}</td>
                                                    <td class="text-muted text-center" contenteditable="true">{{inputs_versions['input_frequency_times']}}</td>
                                                     <td class="text-muted text-center" contenteditable="true">{{inputs_versions['input_frequency_times']}}</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                        <div id="table-signals" class="table-editable">
                                                <table class="table table-existing-version table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-muted text-center" scope="col">Signal1 short</th>
                                                            <th class="text-muted text-center" scope="col">Signal2 short</th>
                                                            <th class="text-muted text-center" scope="col">Signal3 short</th>
                                                            <th class="text-muted text-center" scope="col">Signal1 long</th>
                                                            <th class="text-muted text-center" scope="col">Signal2 long</th>
                                                            <th class="text-muted text-center" scope="col">Signal3 long</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <tr>
                                                            <td class="text-muted text-center" contenteditable="true">{{inputs_versions['input_signal_one_short_times']}}</td>
                                                            <td class="text-muted text-center" contenteditable="true">{{inputs_versions['input_signal_two_short_times']}}</td>
                                                            <td class="text-muted text-center" contenteditable="true">{{inputs_versions['input_signal_three_short_times']}}</td>
                                                            <td class="text-muted text-center" contenteditable="true">{{inputs_versions['input_signal_one_long_times']}}</td>
                                                            <td class="text-muted text-center" contenteditable="true">{{inputs_versions['input_signal_two_long_times']}}</td>
                                                            <td class="text-muted text-center" contenteditable="true">{{inputs_versions['input_signal_three_long_times']}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                    </div>
                                </div>

                                 <div class="text-center"><button class="btn-sm btn-run-model-times" type="submit" name="submit_button" value="run-existing-version" id="contact-form-button-times">Run strategy</button></div
                            </div>
                        </div>
                    </div>

                </div>




            {% elif pop_up_message == 'pop_up_message' %}
                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog modal-lg">

                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title">Existing version: {{inputs_versions['version']}} with the date to 13/08/2020</h4>
                        </div>
                        <div class="modal-body">
                            <p class="text-center">This version already exists in the database.</p>
                            <p class="text-center">Would you like: </p>

                            <div class="row">
                                <div class="col-lg-12">
                                    <center>
                                    <!--Date from-->
                                    <div class="btn-group">
                                        <form class="center" action="{{url_for('times_strategy')}}" method="POST" novalidate>
                                            <button class="btn btn-primary btn-sm btn-run-model-existing-versions-times-pop-up" type="submit" name="submit_button" value="run-strategy-existing-versions" onclick="AlertStratRunning()">Run this version again?</button>
                                             <script type="text/javascript">
                                                function AlertStratRunning(){

                                                    alert("Strategy is running...");
                                                }

                                            </script>


                                        </form>

                                        <form class="center" action="{{url_for('times_dashboard')}}" method="POST" novalidate>
                                            <button class="btn btn-primary btn-sm btn-dashboard-existing-versions-times-pop-up" type="submit" name="submit_button" value="dashboard-strategy-existing-versions">See the dashboard of this version?</button>
                                        </form>
                                    </div>
                                        </center>
                                </div>
                            </div>

                            <!--Assets-->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <h4 class="card-header"><b>Model assets</b></h4>
                                        <div class="card-body">
                                            <table class="table table-existing-version table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="text-muted text-center" scope="col">Asset</th>
                                                        <th class="text-muted text-center" scope="col">Signal ticker</th>
                                                        <th class="text-muted text-center" scope="col">Future ticker</th>
                                                        <th class="text-muted text-center" scope="col">Costs</th>
                                                        <th class="text-muted text-center" scope="col">Leverage</th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    {% for asset in assets: %}
                                                    <tr>
                                                        {% for a in asset: %}
                                                            <td class="text-muted text-center">{{a}}</td>
                                                        {% endfor %}
                                                    </tr>
                                                    {% endfor %}
                                              </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Inputs-->
                            <div class="row row-model-inputs">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <h4 class="card-header"><b>Model inputs</b></h4>
                                        <div class="card-body">
                                            <table class="table table-existing-version table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="text-muted text-center" scope="col">Date from</th>
                                                        <th class="text-muted text-center" scope="col">Date to</th>
                                                        <th class="text-muted text-center" scope="col">Strategy weight</th>
                                                        <th class="text-muted text-center" scope="col">Times lag</th>
                                                        <th class="text-muted text-center" scope="col">Leverage</th>
                                                        <th class="text-muted text-center" scope="col">Volatility</th>
                                                        <th class="text-muted text-center" scope="col">Frequency</th>
                                                        <th class="text-muted text-center" scope="col">Week day</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="text-muted text-center">{{inputs_versions['input_date_from_times']}}</td>
                                                        <td class="text-muted text-center">{{inputs_versions['input_date_to_times']}}</td>
                                                        <td class="text-muted text-center">{{inputs_versions['input_strategy_weight_times']}}</td>
                                                        <td class="text-muted text-center">{{inputs_versions['input_time_lag_times']}}</td>
                                                        <td class="text-muted text-center" contenteditable="true">{{inputs_versions['input_leverage_times']}}</td>
                                                        <td class="text-muted text-center" contenteditable="true">{{inputs_versions['input_vol_window_times']}}</td>
                                                        <td class="text-muted text-center" contenteditable="true">{{inputs_versions['input_frequency_times']}}</td>
                                                         <td class="text-muted text-center" contenteditable="true">{{inputs_versions['input_weekday_times']}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <div id="table-signals" class="table-editable">
                                                <table class="table table-existing-version table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-muted text-center" scope="col">Signal1 short</th>
                                                            <th class="text-muted text-center" scope="col">Signal2 short</th>
                                                            <th class="text-muted text-center" scope="col">Signal3 short</th>
                                                            <th class="text-muted text-center" scope="col">Signal1 long</th>
                                                            <th class="text-muted text-center" scope="col">Signal2 long</th>
                                                            <th class="text-muted text-center" scope="col">Signal3 long</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        <tr>
                                                            <td class="text-muted text-center" contenteditable="true">{{inputs_versions['input_signal_one_short_times']}}</td>
                                                            <td class="text-muted text-center" contenteditable="true">{{inputs_versions['input_signal_two_short_times']}}</td>
                                                            <td class="text-muted text-center" contenteditable="true">{{inputs_versions['input_signal_three_short_times']}}</td>
                                                            <td class="text-muted text-center" contenteditable="true">{{inputs_versions['input_signal_one_long_times']}}</td>
                                                            <td class="text-muted text-center" contenteditable="true">{{inputs_versions['input_signal_two_long_times']}}</td>
                                                            <td class="text-muted text-center" contenteditable="true">{{inputs_versions['input_signal_three_long_times']}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary btn-close-existing-versions-times-pop-up" data-dismiss="modal">Close</button>
                        </div>
                      </div>

                    </div>
                  </div>

                <script>
                    $('#myModal').modal('show');
                </script>
            {% endif %}
        </div>
    {% endblock %}
</body>