
<!-- DISPLAY THE MODAL (<=> POPUP WINDOW) OF FICA MODEL
 ======================================================= -->

<div class="text-center text-md-left">
    <div class="modal fade" id="FicaModal" tabindex="-1" role="dialog" aria-labelledby="FicaModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="FicaModalTitle">Fica Model</h5>
                </div>
                <div class="modal-body">
                    <p>
                        Add the full description<br>
                        of the Fica Model.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>