/* NAVBAR */
.navbar-default {
    background-color: #007faa !important;
    border-color: #007faa  !important;
}

.navbar-default .navbar-nav .nav-link {color: #fff;}

.navbar-default .nav-item:hover .nav-link {color: #FFEBCD;}


/* JUMBOTRON */
.jumbotron-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px !important;
}

.jumbotron-image .display-4 {color: #005774 !important;
                             font-size: 3rem;
                             font-weight: 800;}

.container .link-model {color: #005774 !important; }


/* FOOTER */
#sticky-footer {
  flex-shrink: none;
}