/* Times Page Layout */

/* body */
body {
        min-height: 100%;
        display: flex !important;
     }

body {
        padding: 0;
        background-color: #fff;
        height: auto;
        min-height: 100%;
        line-height: 1.42857143;
     }

body {
        display: block;
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        flex-direction: column !important;
     }

/* main */
.main {
        -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        position: relative;
      }

.main-content {padding-top: 100px; }

.container-fluid {
                    width: 100%;
                    padding-right: 15px;
                    padding-left: 15px;
                    margin-right: auto;
                    margin-left: auto;
                    margin-top: 1px;
                 }

/* row and columns */
.row {
        display: flex;
        margin-right: -15px;
        margin-left: -15px;
        margin-bottom: 20px;
        padding-bottom: 10px;
        background-color: white;
     }

/* widgets */
.widget.widget-fullwidth  {
                            margin-bottom: 0;
                            margin-top: 10px;
                            padding-top: 30px;
                            background-color: #fff;
                            height:300px;
                          }

.widget.widget-fullwidth-img  {
                            margin-bottom: 0;
                            margin-top: 10px;
                            background-color: #fff;
                            height:300px;
                          }

.widget-fullwidth-model {

                            margin-bottom: 0;
                            margin-top: 10px;
                            background-color: #fff;
                            height:150px;
                          }

.be-loading { position: relative; }

.widget {
            background-color: #fff;
            border-radius: 15px;
        }

.widget-container { position: relative; }

/* footer */
.footer { background-color: #fff; bottom:0; position:fixed; width:100%; }

#row-2 { padding-bottom: 370px;}

.text-muted {font-size: 12px; }

/* text-titles */
.text-database {color: #007faa;}

.link-model {color: #333;}

.link-model:visited {color: #333; text-decoration: none; outline: none;}

.link-model:hover {color: #333;}

.link-model:active {color: #333; text-decoration: none; outline: none;}

.link-model:focus {color: #333; text-decoration: none; outline: none;}

.text-lg-left {text-align: left!important;}

.text-secondary {color: #656e79!important;}

p {display: block; margin-block-start: 1em; margin-block-end: 1em; margin-inline-start: 0px;
   margin-inline-end: 0px; }



