/* SIDEBAR */
.sidenav {height: 100%;
          width: 180px;
          position: fixed;
          z-index: 1;
          top: 0;
          left: 0;
          background-color: #005774;
          overflow-x: hidden;
          padding-top: 20px;
         }

.sidenav a {padding-left: 16px;
            text-decoration: none;
            font-size: 23px;
            color: #fff;
            display: block;
           }

.sidenav a:hover {color: #f1f1f1;}

.container {margin-left: 180px; /* Same as the width of the sidenav */
            font-size: 28px; /* Increased text to enable scrolling */
            padding: 0px 10px;
           }

@media screen and (max-height: 450px) {.sidenav {padding-top: 15px;}
                                       .sidenav a {font-size: 18px;}
                                      }

.title-dashboard {color: #005774;
                  font-size: 2rem;
                  line-height: 1.4;
                  margin-top: 60px;
                  margin-left: 200px;
                  max-width: 75%;
                  display: inline-block;
                  z-index: 2;}

.sub-title-dashboard{margin-left: 205px;}

.row-asset-alloc-chart{margin-left: 130px; margin-bottom: 60px;}
.row-table-overall{margin-left: 210px;}
.row-tables-positions{margin-left: 210px;}
.row-positions-assets-charts{margin-left: 210px;}

.pos-perf-title{background-color: #005774; color: #fff;}
.signal-as-off-date{color: #005774;}

.sidenav-home{margin-top: 40px;}


#selectFund {color: #005774 !important;
                border-color: #005774 !important;
                width: 120px;
                margin-top: 10px;
                margin-left: 10px;
                margin-bottom: 10px;
                height: 33px;
               }

#selectVersion {color: #005774 !important;
                border-color: #005774 !important;
                width: 120px;
                margin-top: 3px;
                margin-left: 10px;
                margin-bottom: 10px;
                height: 33px;
               }

.form-models-select-sidebar {color: #005774 !important;
                             border-color: #007faa !important;
                             width: 140px;
                             height: 38px;
                             margin-left: 10px;
                             padding-top:0px;}

.label-models-select-sidebar {color: #fff;
                              padding-left: 16px;
                              margin-top: 10px;}

.btn-select-sidebar {font-size: 1rem; width: 45px;height: 38px}

.label-models-date-sidebar{color: #fff;  padding-left: 16px;}
#btn-select-export-data{width: 45px;
                       margin-left: 58px;
                       color: #005774 !important;
                       height: 25px;
                       padding-top: 0px;}

#btn-select-charts-ok {width: 40px;
                       margin-left: 2px;
                       margin-top: 13px;
                       color: #005774 !important;
                       border-color: #005774 !important;
                       height: 28px;
                       padding-top: 0px;
                       padding-left: 10px;}

#btn-select-charts-versions-ok {width: 40px;
                                margin-left: 2px;
                                margin-top: 6px;
                                color: #005774 !important;
                                border-color: #005774 !important;
                                height: 28px;
                                padding-top: 0px;
                                padding-left: 10px;}


#sidebar-start-date{width: 140px;
                    margin-left: 10px;
                    color: #005774;}

#sidebar-end-date{width: 140px;
                  margin-left: 10px;
                  color: #005774;
                  margin-bottom: 10px;}

.icon-download{background-color: #fff; border-color: #fff;}
.btn-outline-light:hover, .btn-outline-light:focus, .btn-outline-light:active,
.btn-outline-light.active, .btn-outline-light:active:focus{color: #fff !important;
                                                           background-color: #fff !important;
                                                           border-color: #fff !important;
                                                           outline: none !important;
                                                           box-shadow: none !important;
                                                           }

#submit_ok_positions{height: 30px;
                     margin-left: 10px;
                     margin-right: 10px;
                     margin-top: 12px;
                     width: 70px;
                     padding-top: 2px;}

#start_date_box_times{height: 30px;
                margin-top: 12px;
                margin-left: 90px;}

#end_date_box_times{height: 30px;
                    margin-left:10px;
                    margin-top: 12px;
                   }

.title-date-box{margin-left: 70px;}
.navbar-default {margin-left: 180px;}
.navbar-default .navbar-nav .nav-link {color: #007faa;}
.navbar-default .nav-item:hover .nav-link {color: rgb(102, 204, 238);}