/* BODY */
body{background-color: rgb(248, 248, 248) ;}

/* TITLES */
.h6, h6 {font-size: .625rem;}

.header-pretitle {text-transform: uppercase;
                  letter-spacing: .08em;
                  color: #95aac9;
                   margin-top: 60px;
}

.header-pretitle-card {text-transform: uppercase;
                       letter-spacing: .08em;
                       color: #95aac9;
                       margin-top: 5px;
                       margin-left: 10px;
                       margib-bottom: 0px;
}

.header-body {padding-bottom: 1.5rem;
              color: #fff;
              margin-left: 200px;
}

.title-dashboard {color: #fff;
                  font-size: 2rem;
                  line-height: 1.4;
                  display: inline-block;
                  z-index: 2;
}

.sub-title-dashboard{text-transform: uppercase;
                     letter-spacing: .08em;
                     color: #95aac9;
}

.pos-perf-title{background-color: #005774; color: #fff;}

.signal-as-off-date{color: #005774;}

.selectFund {color: #005774 !important;
             border-color: #005774 !important;
             width: 170px;
             font-size: 15px;
             margin-top: 10px;
             margin-left: 10px;
             margin-bottom: 10px;
             height: 33px;
}

.selectDateToSidebar{color: #005774 !important;
                     border-color: #005774 !important;
                     width: 165px;
                     font-size: 15px;
                     margin-top: 10px;
                     margin-right: 14px;
                     margin-bottom: 10px;
                     height: 33px;
}

.selectSideBar {color: #005774 !important;
                border-color: #005774 !important;
                width: 170px;
                font-size: 15px;
                margin-left: 10px;
                height: 33px;
}


#selectVersion {color: #005774 !important;
                border-color: #005774 !important;
                width: 120px;
                margin-top: 3px;
                margin-left: 10px;
                margin-bottom: 10px;
                height: 33px;
}

.form-models-select-sidebar {color: #005774 !important;
                             border-color: #007faa !important;
                             width: 140px;
                             height: 38px;
                             margin-left: 10px;
                             padding-top:0px;
}

.label-models-select-sidebar {color: #fff;
                              padding-left: 16px;
                              margin-top: 10px;
}

.label-models-date-sidebar{color: #fff;  padding-left: 16px;}

#sidebar-start-date{width: 140px;
                    margin-left: 10px;
                    color: #005774;
}

#sidebar-end-date{width: 140px;
                  margin-left: 10px;
                  color: #005774;
                  margin-bottom: 10px;
}

.icon-download{background-color: #fff; border-color: #fff;}


#start_date_box_times{height: 30px;
                      margin-top: 12px;
                      margin-left: 90px;
}

#end_date_box_times{height: 30px;
                    margin-left:10px;
                    margin-top: 12px;
}

.title-date-box{margin-left: 70px;}

.title-models-ag-grid {color: #005774 !important;
                       margin-top: 20px;
                       text-align: center;
}

.badge-soft-secondary {color: #6e84a3; background-color: #e2e6ed;}

.badge {vertical-align: middle;}

#logo-lgim{margin-left: 20px;}

/* CONTAINER */
.container-fluid{background-color: #005774; height: 400px; }

.container {margin-left: 180px; /* Same as the width of the sidenav */
            font-size: 28px; /* Increased text to enable scrolling */
            padding: 0px 10px;
}

/* TABLE */
.table-performance{margin-top: 35px;}

.table-model-assets>thead>tr {border-top: none;}

/* CARD */
.card-header {margin-bottom: 0;
              margin-top: 5px;
              margin-left: 5px;
              background-color: transparent;
              border-bottom: 1px solid #edf2f9;
              letter-spacing: -.02em;
              font-size: .9475rem;
              color: #005774;
}

.card-header-overview {margin-bottom: 0;
                       margin-left: 10px;
                       background-color: transparent;
                       border-bottom: 1px solid #edf2f9;
                       letter-spacing: -.02em;
                       font-size: .9475rem;
                       color: #005774;
}
.card-body{border-radius: 20%;}

div.card {box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

.cards-positions-sparklines-charts{margin-bottom: 15px;}

.card-margin_bottom{margin-bottom: 40px;}

/* BUTTONS */
.btn-white {border-color: #fff;
            background-color: #fff;
            float: right;
            margin-bottom: 10px;
            margin-top: 0px;
            height: 26px;
}

.btn-white:hover,
.btn-white:active,
.btn-white:focus,
.btn-white:visited{background-color: #fff;
                   border-color:#fff !important;
}

.btn:focus {box-shadow: none;}

.btn-select-sidebar {font-size: 1rem; width: 45px;height: 38px}

#btn-select-export-data{width: 45px;
                        margin-left: 58px;
                        color: #005774 !important;
                        height: 25px;
                        padding-top: 0px;
}

#btn-select-charts-ok {width: 40px;
                       margin-left: 2px;
                       margin-top: 13px;
                       color: #005774 !important;
                       border-color: #005774 !important;
                       height: 28px;
                       padding-top: 0px;
                       padding-left: 10px;
}

#btn-select-charts-versions-ok {width: 40px;
                                margin-left: 2px;
                                margin-top: 6px;
                                color: #005774 !important;
                                border-color: #005774 !important;
                                height: 28px;
                                padding-top: 0px;
                                padding-left: 10px;
}

.btn-outline-light:hover, .btn-outline-light:focus, .btn-outline-light:active,
.btn-outline-light.active, .btn-outline-light:active:focus{color: #fff !important;
                                                           background-color: #fff !important;
                                                           border-color: #fff !important;
                                                           outline: none !important;
                                                           box-shadow: none !important;
                                                           }

#submit_ok_positions{height: 30px;
                     margin-left: 10px;
                     margin-right: 10px;
                     margin-top: 12px;
                     width: 70px;
                     padding-top: 2px;
}

.btn-dashboard {height: 35px;
                padding-top: 2px;
                margin-left: 10px;
                margin-top: 15px;
                background-color:  #585858 !important;
                border-color: #585858 !important;
                width: 160px;
}

.form-models-select-end-date-times{margin-right: 10px;}

.btn-ok-asset-alloc-chart{height: 30px;
                          border-color: #D0D0D0;
                          margin-right: 15px;
                          margin-top: 12px;


}

/* SIDEBAR */
.sidenav {height: 100%;
          width: 190px;
          position: fixed;
          z-index: 1;
          top: 0;
          left: 0;
          overflow-x: hidden;
}

.sidenav {background-color: rgba(83,104,120, 0.85);}

.sidenav a {padding-left: 16px;
            text-decoration: none;
            font-size: 23px;
            color: #fff;
            display: block;
}

.sidenav a:hover {color: #f1f1f1;}

.sidenav-home{margin-bottom: 20px;}

@media screen and (max-height: 450px) {.sidenav {padding-top: 15px;}
                                       .sidenav a {font-size: 18px;}
}

.sidebar-brand, .sidebar-brand:hover {padding: 1rem;
                                      margin-top: 0px;
                                      background: #153d77;
                                      font-size: 1.175rem;
                                      font-weight: 500;
                                      color: #fff;
                                      width: 100%;
                                      display: block;
                                      text-decoration: none;
}

.content-sidebar{ background-color: #005774; height: 80px;}

/* NAVBAR */
.navbar-default {margin-left: 180px; background-color: #005774;}

.navbar-default .navbar-nav .nav-link {color: #fff;}

.navbar-default .nav-item:hover .nav-link {color: rgb(102, 204, 238);}

/* ROWS */
.row-dashboard-times-ag-grid{margin-left: 200px;
                             margin-bottom: 150px;
                             margin-top: 40px;
}

.row-asset-alloc-chart{margin-left: 190px; margin-bottom: 60px; margin-top: 40px;}

.row-table-overall{margin-left: 187px; margin-bottom: 40px;}

.row-tables-positions{margin-left: 187px; margin-bottom: 40px;}

.row-positions-assets-charts{margin-left: 187px; margin-bottom: 40px;}


/* AG GRID TABLE: ASSETS WEIGHTS */
.ag-theme-alpine {/* use theme parameters where possible */
                  --ag-foreground-color: #999999;
                  border-color: ag-derived(background-color, $mix: foreground-color 25%),
                  --ag-background-color: pink;
                  font-size: 9px;
                  justify-content: center;
}

.ag-theme-alpine .ag-header {--ag-foreground-color: #fff;
                             background-color: #005774;
                             font-size: 12px;
}

.ag-header-cell-label {justify-content: center;}
