<!-- DISPLAY THE INPUTS FOR TIMES MODEL ON THE MODEL PAGE
 ====================================================== -->

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">time-lag</th>
            <th scope="col">leverage_type</th>
            <th scope="col">volatility_window</th>
            <th scope="col">sig1_short</th>
            <th scope="col">sig1_long</th>
                            <th scope="col">sig2_short</th>
                            <th scope="col">sig2_long</th>
                            <th scope="col">sig3_short</th>
                            <th scope="col">sig3_long</th>
                            <th scope="col">frequency</th>
                            <th scope="col">week-day</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>2</td>
                            <td>s</td>
                            <td>90</td>
                            <td>15</td>
                            <td>30</td>
                            <td>30</td>
                            <td>60</td>
                            <td>60</td>
                            <td>120</td>
                            <td>weekly</td>
                            <td>TUE</td>
                        </tr>
                      </tbody>
                    </table><br>

                    <table class="table">
                      <thead class="thead-light">
                        <tr>
                            <th scope="col">asset</th>
                            <th scope="col">signal_ticker</th>
                            <th scope="col">future_ticker</th>
                            <th scope="col">costs</th>
                            <th scope="col">s_leverage</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>US Equities</td>
                            <td>SPXT Index</td>
                            <td>SP1 R:00_0_R Index</td>
                            <td>0.0002</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>EU Equities</td>
                            <td>SX5T Index</td>
                            <td>VG1 R:00_0_R Index</td>
                            <td>0.0002</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>JP Equities</td>
                            <td>TPXDDVD Index</td>
                            <td>TP1 R:00_0_R Index</td>
                            <td>0.0002</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>HK Equities</td>
                            <td>HSI Index</td>
                            <td>HI1 R:00_0_R Index</td>
                            <td>0.0002</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>US 10y Bonds</td>
                            <td>MLT1US10 Index</td>
                            <td>TY1 R:00_0_R Comdty</td>
                            <td>0.0002</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>UK 10y Bonds</td>
                            <td>G 1 R:00_0_R Comdty</td>
                            <td>G 1 R:00_0_R Comdty</td>
                            <td>0.0002</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Eu 10y Bonds</td>
                            <td>RX1 R:00_0_R Comdty</td>
                            <td>RX1 R:00_0_R Comdty</td>
                            <td>0.0002</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>CA 10y Bonds</td>
                            <td>CN1 R:00_0_R Comdty</td>
                            <td>CN1 R:00_0_R Comdty</td>
                            <td>0.0002</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>JPY</td>
                            <td>JPYUSD Curncy</td>
                            <td>JY1 R:00_0_R Curncy</td>
                            <td>0.0002</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>EUR</td>
                            <td>EURUSD Curncy</td>
                            <td>EC1 R:00_0_R Curncy</td>
                            <td>0.0002</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>AUD</td>
                            <td>AUDUSD Curncy</td>
                            <td>AD1 R:00_0_R Curncy</td>
                            <td>0.0002</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>CAD</td>
                            <td>CADUSD Curncy</td>
                            <td>CD1 R:00_0_R Curncy</td>
                            <td>0.0002</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>GBP</td>
                            <td>GBPUSD Curncy</td>
                            <td>BP1 R:00_0_R Curncy</td>
                            <td>0.0002</td>
                            <td>2</td>
                        </tr>
                      </tbody>
                    </table>